@using PopForums.Controllers
@{
    ViewBag.Title = PopForums.Resources.NewPM;
    Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
}

@section HeaderContent
{
	<script type="text/javascript" language="javascript">
		$(function () {
			var toText = $("#ToText");
			var toList = $("#ToList");
			toText.on("keyup", function() {
				var q = $(this).val();
				if (q.length > 1) {
					$.getJSON(PopForums.areaPath + "/PrivateMessages/GetNames", { id: q })
						.done(function (data) {
						toList.empty();
						$.each(data, function(i, item) {
							toList.append('<li><a href="#" data-userID="' + item.UserID + '" class="callout toItem">' + item.value + '</a></li>');
						});
					});
				} else {
					toList.empty();
				}
			});

			$(document).on("click", ".toItem", function () {
				var item = $(this);
				var userID = item.attr("data-userID");
				var label = '<div data-userID="' + userID + '" class="label label-primary toLabel">' + item[0].innerHTML + ' <span class="glyphicon glyphicon-remove toLabelX"></span></div>';
				$("#PMToBox").append(label);
				toList.empty();
				toText.val("");
				$("#ToModal").modal("hide");
				serializeIDs();
			});

			$(document).on("click", ".toLabelX", function () {
				$(this).parent().remove();
				serializeIDs();
			});

			$("#ToModal").on("shown.bs.modal", function() {
				$("#ToText").focus();
			});

			serializeIDs();
		});


		function serializeIDs() {
			var items = $("#PMToBox div");
			var ids = [];
			items.each(function () { ids.push($(this).attr("data-userID")); });
			$("#UserIDs").val(ids);
		}
	</script>
}

<div>
	<h1>@PopForums.Resources.NewPM</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li><span class="glyphicon glyphicon-chevron-up"></span> @Html.ActionLink(PopForums.Resources.Forums, "Index", ForumHomeController.Name, null, null)</li>
		<li>@Html.ActionLink("Private Messages", "Index")</li>
	</ul>
</div>

@if (ViewBag.Warning != null) { <p class="bg-danger callout">@ViewBag.Warning</p> }
																				  
<div class="modal fade" id="ToModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">@PopForums.Resources.To</h4>
			</div>
			<div class="modal-body">
				<input id="ToText" type="text" class="form-control" placeholder="@PopForums.Resources.Search" />
				<div id="ToResultList">
					<ul id="ToList" class="list-unstyled"></ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

@using (Html.BeginForm())
{
	@Html.Hidden("UserIDs")
	<div role="form">
		<div class="form-group">
			<label><input type="button" class="btn btn-primary" data-toggle="modal" data-target="#ToModal" value="@PopForums.Resources.To" /></label>
			<div id="PMToBox" class="form-control">
				@if (ViewBag.TargetUserID != null)
				{
					<div data-userid="@ViewBag.TargetUserID" class="label label-primary toLabel">@ViewBag.TargetUserName <span class="glyphicon glyphicon-remove toLabelX"></span></div>
				}
			</div>
		</div>
		<div class="form-group">
			<label for="Subject">@PopForums.Resources.Subject</label>
			@Html.TextBox("Subject", null, new { @class = "form-control" })
		</div>
		<div class="form-group">
			<label for="FullText">@PopForums.Resources.Message</label>
			@Html.TextArea("FullText", new { @class = "form-control" })
		</div>
		<input id="SendButton" type="submit" value="@PopForums.Resources.Send" class="btn btn-primary" />
	</div>
}