@using PopForums.Controllers
@using PopForums.Extensions;
@using PopForums.Models;
@model List<PrivateMessage>
@{
    ViewBag.Title = PopForums.Resources.PrivateMessages;
    Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
}

@section HeaderContent {
	<script type="text/javascript" language="javascript">
		$(function () {
			PopForums.startTimeUpdater();
		});
	</script>
}

<div>
	<h1>@PopForums.Resources.PrivateMessages</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li><span class="glyphicon glyphicon-chevron-up"></span> @Html.ActionLink(PopForums.Resources.Forums, "Index", ForumHomeController.Name, null, null)</li>
	</ul>
</div>

<p>@Html.ActionLink(PopForums.Resources.SendPM, "Create")</p>

@Html.PagerLinks("PrivateMessages", "Index", (PagerContext)ViewBag.PagerContext, null, null, "currentPager")

<table class="table grid table-hover">
	@foreach (var pm in Model)
	{
		<tr>
			<td class="newIndicator">
				<a href="@Url.Action("View", new { id = pm.PMID })">@Html.PMReadIndicator(pm, "/Content/PopForums/")</a>
			</td>
			<td class="topicListButton">
				@using (Html.BeginForm("ArchivePM", "PrivateMessages", new { id = pm.PMID }))
				{
					<input type="submit" value="@PopForums.Resources.Archive" class="btn btn-primary" />
				}
			</td>
			<td>@Html.ActionLink(pm.Subject, "View", new { id = pm.PMID })</td>
			<td>@pm.UserNames</td>
			<td><small class="fTime" data-utc="@FormatTime8601(pm.LastPostTime)">@FormatTime(pm.LastPostTime)</small></td>
		</tr>
	}
</table>

<p>@Html.ActionLink(PopForums.Resources.ViewArchivedMessages, "Archive")</p>