@using PopForums.Controllers
@model PopForums.Models.PrivateMessageView
@{
	ViewBag.Title = PopForums.Resources.PrivateMessages + " - " + Model.PrivateMessage.Subject;
	Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
}
@section HeaderContent {
	<script type="text/javascript" language="javascript">
		$(function () {
			PopForums.startTimeUpdater();
		});
	</script>
}
<div>
	<h1>@Model.PrivateMessage.Subject</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li><span class="glyphicon glyphicon-chevron-up"></span> @Html.ActionLink(PopForums.Resources.Forums, "Index", ForumHomeController.Name, null, null)</li>
		<li>@Html.ActionLink("Private Messages", "Index")</li>
	</ul>
</div>
@foreach (var post in Model.Posts)
{
	<div class="postItem">
		<div class="postUserData bg-primary">
			<h3 class="postNameLink bg-primary">@Html.ActionLink(post.Name, "ViewProfile", "Account", new { id = post.UserID }, new { @class = "bg-primary" })</h3>
			<small class="postTime text-right fTime" data-utc="@FormatTime8601(post.PostTime)">@FormatTime(post.PostTime)</small>
		</div>
		@Html.Raw(post.FullText)
	</div>
}
@using (Html.BeginForm("ArchivePM", "PrivateMessages", new { id = Model.PrivateMessage.PMID }))
{
	<p><input type="submit" value="@PopForums.Resources.Archive" class="btn btn-default" /></p>
}
<h2>Reply</h2>
@using (Html.BeginForm("Reply", "PrivateMessages", new { id = Model.PrivateMessage.PMID }, FormMethod.Post, new { role = "form" }))
{
	<div class="form-group">
		<div class="col-xs-12">
			<textarea id="FullText" name="FullText" class="form-control" rows="4"></textarea>
		</div>
	</div>
	<input id="SendButton" type="submit" value="@PopForums.Resources.Reply" class="btn btn-default" />
}