@model PopForums.Models.UserEditProfile
@using PopForums.Controllers
@using PopForums.Extensions;
@{
	ViewBag.Title = PopForums.Resources.Account + " - " + PopForums.Resources.EditProfile;
    Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
}

<div>
	<h1>@PopForums.Resources.Account - @PopForums.Resources.EditProfile</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li><span class="glyphicon glyphicon-chevron-up"></span> @Html.ActionLink(PopForums.Resources.Forums, "Index", ForumHomeController.Name, null, null)</li>
		<li>@PopForums.Resources.Account</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">@PopForums.Resources.EditProfile <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li>@Html.ActionLink(PopForums.Resources.ChangeYourEmailPassword, "Security", "Account")</li>
				<li>@Html.ActionLink(PopForums.Resources.ManageYourPhotos, "ManagePhotos", "Account")</li>
				<li>@Html.ActionLink(PopForums.Resources.ExternalLogins, "ExternalLogins", "Account")</li>
			</ul>
		</li>

	</ul>
</div>

@if (ViewData["Result"] != null)
{ <p class="bg-danger callout">@ViewData["Result"]</p> }

@using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {

	<div class="col-xs-12">
		<h2>@PopForums.Resources.Options</h2>
	</div>
	<div class="form-group">
		<div class="col-xs-push-2 col-xs-10">
			<div class="checkbox">
				<label>
					@Html.CheckBoxFor(m => m.IsSubscribed) @PopForums.Resources.SubscribeToList
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-push-2 col-xs-10">
			<div class="checkbox">
				<label>
					@Html.CheckBoxFor(m => m.ShowDetails) @PopForums.Resources.ShowProfileDetails
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-push-2 col-xs-10">
			<div class="checkbox">
				<label>
					@Html.CheckBoxFor(m => m.IsPlainText) @PopForums.Resources.ForcePlainTextBox
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-push-2 col-xs-10">
			<div class="checkbox">
				<label>
					@Html.CheckBoxFor(m => m.HideVanity) @PopForums.Resources.HideVanity
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="TimeZone" class="col-xs-2 control-label">@PopForums.Resources.TimeZone</label>
		<div class="col-xs-10">
			@Html.TimeZoneDropDown("TimeZone", new { @class = "form-control" }, Model.TimeZone)
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-push-2 col-xs-10">
			<div class="checkbox">
				<label>
					@Html.CheckBoxFor(m => m.IsDaylightSaving) @PopForums.Resources.UseDaylight
				</label>
			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<h2>@PopForums.Resources.Details</h2>
	</div>
	<div class="form-group">
		<label for="Signature" class="col-xs-2 control-label">@PopForums.Resources.Signature</label>
		<div class="col-xs-10">
			@Html.TextAreaFor(m => m.Signature, new { @class = "form-control", rows = 3 })
		</div>
	</div>
	<div class="form-group">
		<label for="Location" class="col-xs-2 control-label">@PopForums.Resources.Location</label>
		<div class="col-xs-10">
			@Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		<label for="Dob" class="col-xs-2 control-label">@PopForums.Resources.DateOfBirth</label>
		<div class="col-xs-10">
			@Html.TextBoxFor(m => m.Dob, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		<label for="Facebook" class="col-xs-2 control-label">Facebook</label>
		<div class="col-xs-10">
			<div class="input-group">
				<span class="input-group-addon">https://facebook.com/</span>
				@Html.TextBoxFor(m => m.Facebook, new { @class = "form-control" })
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="Twitter" class="col-xs-2 control-label">Twitter</label>
		<div class="col-xs-10">
			<div class="input-group">
				<span class="input-group-addon">&#64;</span>
				@Html.TextBoxFor(m => m.Twitter, new { @class = "form-control" })
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="Web" class="col-xs-2 control-label">@PopForums.Resources.Web</label>
		<div class="col-xs-10">
			@Html.TextBoxFor(m => m.Web, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		<label for="Aim" class="col-xs-2 control-label">AIM</label>
		<div class="col-xs-10">
			@Html.TextBoxFor(m => m.Aim, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		<label for="Icq" class="col-xs-2 control-label">ICQ</label>
		<div class="col-xs-10">
			@Html.TextBoxFor(m => m.Icq, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		<label for="YahooMessenger" class="col-xs-2 control-label">Yahoo Messenger</label>
		<div class="col-xs-10">
			@Html.TextBoxFor(m => m.YahooMessenger, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group col-xs-push-2 col-xs-10">
		<input type="submit" value="@PopForums.Resources.Save" class="btn btn-primary" />
	</div>
}