@model UserEditProfile
@using System.Linq;
@{
	ViewBag.Title = PopForums.Resources.Account + " - " + PopForums.Resources.EditProfile;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
	var timeZones = DataCollections.TimeZones().Select(x => new SelectListItem() { Value = x.Key.ToString(), Text = x.Value });
}

<div>
	<h1>@PopForums.Resources.Account - @PopForums.Resources.EditProfile</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li><span class="glyphicon glyphicon-chevron-up"></span> <a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
		<li>@PopForums.Resources.Account</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">@PopForums.Resources.EditProfile <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a asp-action="Security">@PopForums.Resources.ChangeYourEmailPassword</a></li>
				<li><a asp-action="ManagePhotos">@PopForums.Resources.ManageYourPhotos</a></li>
				<li><a asp-action="ExternalLogins">@PopForums.Resources.ExternalLogins</a></li>
			</ul>
		</li>

	</ul>
</div>

@if (ViewData["Result"] != null)
{ <p class="bg-danger callout">@ViewData["Result"]</p> }

<form asp-action="EditProfile" role="form" class="form-horizontal" method="post">

	<div class="col-xs-12">
		<h2>@PopForums.Resources.Options</h2>
	</div>
	<div class="form-group">
		<div class="col-xs-push-2 col-xs-10">
			<div class="checkbox">
				<label>
					<input type="checkbox" asp-for="IsSubscribed"/> @PopForums.Resources.SubscribeToList
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-push-2 col-xs-10">
			<div class="checkbox">
				<label>
					<input type="checkbox" asp-for="ShowDetails"/> @PopForums.Resources.ShowProfileDetails
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-push-2 col-xs-10">
			<div class="checkbox">
				<label>
					<input type="checkbox" asp-for="IsPlainText"/> @PopForums.Resources.ForcePlainTextBox
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-push-2 col-xs-10">
			<div class="checkbox">
				<label>
					<input type="checkbox" asp-for="HideVanity"/> @PopForums.Resources.HideVanity
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="TimeZone" class="col-xs-2 control-label">@PopForums.Resources.TimeZone</label>
		<div class="col-xs-10">
			<select asp-for="TimeZone" asp-items="@timeZones" class="form-control"></select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-push-2 col-xs-10">
			<div class="checkbox">
				<label>
					<input type="checkbox" asp-for="IsDaylightSaving"/> @PopForums.Resources.UseDaylight
				</label>
			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<h2>@PopForums.Resources.Details</h2>
	</div>
	<div class="form-group">
		<label for="Signature" class="col-xs-2 control-label">@PopForums.Resources.Signature</label>
		<div class="col-xs-10">
			<textarea asp-for="Signature" class="form-control" rows="3"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="Location" class="col-xs-2 control-label">@PopForums.Resources.Location</label>
		<div class="col-xs-10">
			<input type="text" asp-for="Location" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<label for="Dob" class="col-xs-2 control-label">@PopForums.Resources.DateOfBirth</label>
		<div class="col-xs-10">
			<input type="text" asp-for="Dob" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label for="Facebook" class="col-xs-2 control-label">Facebook</label>
		<div class="col-xs-10">
			<div class="input-group">
				<span class="input-group-addon">https://facebook.com/</span>
				<input type="text" asp-for="Facebook" class="form-control" />
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="Twitter" class="col-xs-2 control-label">Twitter</label>
		<div class="col-xs-10">
			<div class="input-group">
				<span class="input-group-addon">&#64;</span>
				<input type="text" asp-for="Twitter" class="form-control" />
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="Web" class="col-xs-2 control-label">@PopForums.Resources.Web</label>
		<div class="col-xs-10">
			<input type="text" asp-for="Web" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label for="Icq" class="col-xs-2 control-label">ICQ</label>
		<div class="col-xs-10">
			<input type="text" asp-for="Icq" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label for="YahooMessenger" class="col-xs-2 control-label">Yahoo Messenger</label>
		<div class="col-xs-10">
			<input type="text" asp-for="YahooMessenger" class="form-control" />
		</div>
	</div>
	<div class="form-group col-xs-push-2 col-xs-10">
		<input type="submit" value="@PopForums.Resources.Save" class="btn btn-primary" />
	</div>
</form>