@model List<PopForums.ExternalLogin.ExternalUserAssociation>
@{
    ViewBag.Title = PopForums.Resources.Account + " - " + PopForums.Resources.ExternalLogins;
    Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
}

<div>
	<h1>@PopForums.Resources.Account - @PopForums.Resources.ExternalLogins</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li><span class="glyphicon glyphicon-chevron-up"></span> <a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
		<li>@PopForums.Resources.Account</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">@PopForums.Resources.ExternalLogins <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a asp-action="EditProfile">@PopForums.Resources.EditYourProfile</a></li>
				<li><a asp-action="Security">@PopForums.Resources.ChangeYourEmailPassword</a></li>
				<li><a asp-action="ManagePhotos">@PopForums.Resources.ManageYourPhotos</a></li>
			</ul>
		</li>

	</ul>
</div>

@if (Model.Count == 0)
{
	<p class="bg-info callout">@PopForums.Resources.NoExternalLoginsRegistered</p>
}
else
{
	<table class="table grid table-hover">
		@foreach (var item in Model)
		{
			<tr>
				<td class="col-xs-2">
					<form asp-action="RemoveExternalLogin" asp-route-id="@item.ExternalUserAssociationID" method="post">
						<input type="submit" value="Remove" class="btn btn-primary" />
					</form>
				</td>
				<td class="col-xs-4">@item.Issuer</td>
				<td class="col-xs-6">@item.Name</td>
			</tr>
		}
	</table>
}