@using PopForums.Controllers
@using PopForums.Extensions
@model PopForums.Models.PasswordResetContainer

@{
    ViewBag.Title = PopForums.Resources.PasswordReset;
    Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
}

<div>
	<h1>@PopForums.Resources.PasswordReset</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li><span class="glyphicon glyphicon-chevron-up"></span> @Html.ActionLink(PopForums.Resources.Forums, "Index", ForumHomeController.Name, null, null)</li>
	</ul>
</div>

@if (Model.IsValidUser)
{
	using(Html.BeginForm()){
		<div role="form">
			<div class="form-group @Html.AddValidationClass("Password", "has-error")">
				<label for="Password" class="control-label">@PopForums.Resources.PasswordNew</label>
				@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Password)
			</div>
			<div class="form-group @Html.AddValidationClass("PasswordRetype", "has-error")">
				<label for="PasswordRetype" class="control-label">@PopForums.Resources.PasswordNewRetype</label>
				@Html.PasswordFor(m => m.PasswordRetype, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.PasswordRetype)
			</div>
			<input type="submit" value="@PopForums.Resources.ChangePassword" class="btn btn-primary" />
		</div>
	}
}
else
{
	<p>@PopForums.Resources.PasswordResetLinkInvalid @Html.ActionLink(PopForums.Resources.ForgotPassword, "Forgot", "Account", null, null).</p>
}