@model PasswordResetContainer
@{
    ViewBag.Title = PopForums.Resources.PasswordReset;
    Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
}

<div>
	<h1>@PopForums.Resources.PasswordReset</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li><span class="glyphicon glyphicon-chevron-up"></span> <a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
	</ul>
</div>

@if (Model.IsValidUser)
{
	using(Html.BeginForm()){
		<div role="form">
			<div class="form-group" pf-validationerror-class="has-error" pf-validation-for="Password">
				<label for="Password" class="control-label">@PopForums.Resources.PasswordNew</label>
				<input type="password" asp-for="Password" class="form-control"/>
				<span asp-validation-for="Password"></span>
			</div>
			<div class="form-group" pf-validationerror-class="has-error" pf-validation-for="PasswordRetype">
				<label for="PasswordRetype" class="control-label">@PopForums.Resources.PasswordNewRetype</label>
				<input type="password" asp-for="PasswordRetype" class="form-control"/>
				<span asp-validation-for="PasswordRetype"></span>
			</div>
			<input type="submit" value="@PopForums.Resources.ChangePassword" class="btn btn-primary" />
		</div>
	}
}
else
{
	<p>@PopForums.Resources.PasswordResetLinkInvalid <a asp-action="Forgot">@PopForums.Resources.ForgotPasswordQuestion</a></p>
}