@{
    ViewBag.Title = PopForums.Resources.AccountCreated;
    Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
}

<div>
	<h1>@PopForums.Resources.AccountCreated</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a> </li>
	</ul>
</div>

<p class="alert alert-danger">@ViewData["EmailProblem"] @ViewData["Result"]</p>

<p><a asp-action="EditProfile">@PopForums.Resources.EditYourProfile</a></p>
