@using PopForums.Configuration
@model SignupData
@inject IUserRetrievalShim UserRetrievalShim
@inject IConfig Config
@{
	ViewBag.Title = PopForums.Resources.CreateAnAccount;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
	var user = UserRetrievalShim.GetUser();
}

@section HeaderContent
{
	@if (Config.UseReCaptcha)
	{
		<script src="https://www.google.com/recaptcha/api.js?render=@Config.ReCaptchaSiteKey"></script>
		<script language="javascript" type="text/javascript">
			grecaptcha.ready(function() {
				grecaptcha.execute("@Config.ReCaptchaSiteKey", { action: "createaccount" }).then(function(token) {
					$("#Token").val(token);
				});
			});
		</script>
	}
}

<div>
	<h1>@PopForums.Resources.CreateAnAccount</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
	</ul>
</div>

<p><a asp-action="Verify">@PopForums.Resources.NeedToVerifyExistingAccount</a></p>

@if (user == null)
{
	<form asp-controller="@AccountController.Name" asp-action="Create" method="post" role="form">
		<div>
			<div class="form-group row" pf-validation-for="Name" pf-validationerror-class="has-error">
				<label for="Name" class="col-2 col-form-label">
					@PopForums.Resources.Name<br />
					@PopForums.Resources.AsYouWouldLikeItToAppear
				</label>
				<div class="col-10">
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row" pf-validation-for="Email" pf-validationerror-class="has-error">
				<label for="Email" class="col-2 col-form-label">
					@PopForums.Resources.Email
				</label>
				<div class="col-10">
					<input asp-for="Email" class="form-control" type="email" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row" pf-validation-for="Password" pf-validationerror-class="has-error">
				<label for="Password" class="col-2 col-form-label">
					@PopForums.Resources.Password<br />
					@PopForums.Resources.AtLeastSixChar
				</label>
				<div class="col-10">
					<input type="password" asp-for="Password" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row" pf-validation-for="PasswordRetype" pf-validationerror-class="has-error">
				<label for="PasswordRetype" class="col-2 col-form-label">
					@PopForums.Resources.RetypePassword
				</label>
				<div class="col-10">
					<input type="password" asp-for="PasswordRetype" class="form-control" />
					<span asp-validation-for="PasswordRetype" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="TimeZone" class="col-2 col-form-label">
					@PopForums.Resources.TimeZone
				</label>
				<div class="col-10">
					<select asp-items="@(new SelectList(DataCollections.TimeZones(), "Key", "Value", ViewData[AccountController.ServerTimeZoneKey]))" class="form-control" asp-for="TimeZone"></select>
				</div>
			</div>
			<div class="form-check">
				<div class="offset-2 col-sm-10">
					<input class="form-check-input" type="checkbox" asp-for="IsDaylightSaving" />
					<label class="form-check-label">@PopForums.Resources.UseDaylight</label>
				</div>
			</div>
			<div class="form-check">
				<div class="offset-2 col-sm-10">
					<input class="form-check-input" type="checkbox" asp-for="IsSubscribed" />
					<label class="form-check-label">@PopForums.Resources.SubscribeToList</label>
				</div>
			</div>
			<div class="form-check" pf-validation-for="IsCoppa" pf-validationerror-class="has-error">
				<div class="offset-2 col-sm-10">
					<input class="form-check-input" type="checkbox" asp-for="IsCoppa" />
					<label class="form-check-label">@String.Format(PopForums.Resources.MyBirthdayIsOnOrBefore, ViewData[AccountController.CoppaDateKey])</label>
					<span asp-validation-for="IsCoppa" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-2 col-form-label">
					@PopForums.Resources.TermsOfService
				</label>
				<div class="col-10">
					<textarea class="form-control" disabled="disabled" rows="6" id="TOS">@ViewData[AccountController.TosKey]</textarea>
				</div>
			</div>
			<div class="form-check" pf-validation-for="IsTos" pf-validationerror-class="has-error">
				<div class="offset-2 col-sm-10">
					<input class="form-check-input" type="checkbox" asp-for="IsTos" />
					<label class="form-check-label">@PopForums.Resources.HaveReadTOS</label>
					<span asp-validation-for="IsTos" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<div class="offset-2 col-sm-10">
					<input type="submit" value="@PopForums.Resources.CreateAccountButton" class="btn btn-primary" />
				</div>
			</div>
		</div>
		<input type="hidden" asp-for="Token" id="Token" />
	</form>
}
else
{
	<p class="alert alert-danger">@PopForums.Resources.AlreadyCreatedAccount</p>
}

