@model List<PopForums.ExternalLogin.ExternalUserAssociation>
@{
	ViewBag.Title = PopForums.Resources.Account + " - " + PopForums.Resources.ExternalLogins;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
}

<div>
	<h1>@PopForums.Resources.Account - @PopForums.Resources.ExternalLogins</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
		<li class="breadcrumb-item">@PopForums.Resources.Account</li>
		<div class="breadcrumb-item dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" id="SubProfileMenu">@PopForums.Resources.ExternalLogins</a>
			<div class="dropdown-menu" aria-labelledby="SubProfileMenu">
				<a class="dropdown-item" asp-action="EditProfile">@PopForums.Resources.EditYourProfile</a>
				<a class="dropdown-item" asp-action="Security">@PopForums.Resources.ChangeYourEmailPassword</a>
				<a class="dropdown-item" asp-action="ManagePhotos">@PopForums.Resources.ManageYourPhotos</a>
			</div>
		</div>

	</ul>
</div>

@if (Model.Count == 0)
{
	<p class="alert alert-danger">@PopForums.Resources.NoExternalLoginsRegistered</p>
}
else
{
	<table class="table mt-3 table-hover">
		@foreach (var item in Model)
		{
			<tr class="row">
				<td class="col-3">
					<form asp-action="RemoveExternalLogin" asp-route-id="@item.ExternalUserAssociationID" method="post">
						<input type="submit" value="Remove" class="btn btn-primary" />
					</form>
				</td>
				<td class="col-3">@item.Issuer</td>
				<td class="col-6">@item.Name</td>
			</tr>
		}
	</table>
}