@model UserEditPhoto
@inject IUserRetrievalShim UserRetrievalShim

@{
	ViewBag.Title = PopForums.Resources.Account + " - " + PopForums.Resources.ManagePhotos;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
}


<h1>@PopForums.Resources.Account - @PopForums.Resources.ManagePhotos</h1>
<ul id="TopBreadcrumb" class="breadcrumb sticky-top">
	<li class="breadcrumb-item"><a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
	<li class="breadcrumb-item">@PopForums.Resources.Account</li>
	<li class="breadcrumb-item dropdown">
		<a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" id="SubProfileMenu">@PopForums.Resources.ManagePhotos</a>
		<div class="dropdown-menu" aria-labelledby="SubProfileMenu">
			<a class="dropdown-item" asp-action="EditProfile">@PopForums.Resources.EditYourProfile</a>
			<a class="dropdown-item" asp-action="Security">@PopForums.Resources.ChangeYourEmailPassword</a>
			<a class="dropdown-item" asp-action="ExternalLogins">@PopForums.Resources.ExternalLogins</a>
		</div>
	</li>

</ul>

<form asp-action="ManagePhotos" method="post" enctype="multipart/form-data" role="form">
	<h2>@PopForums.Resources.Avatar</h2>
	<div class="mb-3">
		<input type="file" class="form-control" id="avatarFile" name="avatarFile">
	</div>
	@if (Model.AvatarID.HasValue)
	{
		<p><img src="@Url.Action("Avatar", "Image", new {id = Model.AvatarID})" alt="Avatar image" /></p>
		<div class="mb-3">
			<input type="checkbox" asp-for="DeleteAvatar" class="form-check-input" />
			<label for="DeleteAvatar" class="form-check-label">@PopForums.Resources.AvatarDelete</label>
		</div>
	}

	<h2>@PopForums.Resources.Photo</h2>
	<div class="mb-3">
		<input type="file" class="form-control" id="photoFile" name="photoFile">
	</div>
	@if (Model.ImageID.HasValue)
	{
		<p><img src="@Url.Action("UserImage", "Image", new {id = Model.ImageID})" alt="User image" /></p>
		<div class="mb-3">
			<input type="checkbox" asp-for="DeleteImage" class="form-check-input" />
			<label for="DeleteImage" class="form-check-label"> @PopForums.Resources.PhotoDelete</label>
		</div>
		if (Model.IsImageApproved.HasValue && !Model.IsImageApproved.Value)
		{
			<p class="alert alert-warning">@PopForums.Resources.PhotoNotApproved</p>
		}
	}

	<input type="submit" value="@PopForums.Resources.Save" class="btn btn-primary my-3" />
</form>
