@model PagedTopicContainer
@inject IUserRetrievalShim UserRetrievalShim
@inject ITimeFormattingService TimeFormattingService
@{
	ViewBag.Title = ViewBag.PostUserName + "'s " + PopForums.Resources.Posts;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
	var user = UserRetrievalShim.GetUser();
	var profile = UserRetrievalShim.GetProfile();
}

@section HeaderContent {
	<script type="text/javascript">
		$(function () {
			PopForums.startTimeUpdater();
		});
	</script>
}

<h1>@ViewBag.PostUserName's @PopForums.Resources.Posts</h1>

<ul id="TopBreadcrumb" class="breadcrumb sticky-top">
	<li class="breadcrumb-item"><a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
	<li class="breadcrumb-item">@ViewBag.PostUserName's @PopForums.Resources.Posts</li>
</ul>

<pf-pagerLinks controllerName="Account" actionName="Posts" pagerContext="@Model.PagerContext" class="pagination pagination-sm pagerLinks" moreTextClass="morePager" currentTextClass="currentPager active" />

<table id="TopicList" class="table mt-3 table-hover">
	@foreach (var topic in Model.Topics)
	{
		<tr @if (topic.IsDeleted) { <text> class="bg-danger" </text> 				} data-topicid="@topic.TopicID">
			<td class="newIndicator"><a asp-controller="Forum" asp-action="Topic" asp-route-id="@topic.UrlName"><pf-topicReadIndicator topic="@topic" pagedTopicContainer="@Model" imagePath="/lib/PopForums/" /></a></td>
			<td>
				<h2>@Html.ActionLink(topic.Title, "Topic", "Forum", new { id = topic.UrlName, pageNumber = 1 }, null)</h2>
				<small class="float-right d-none d-sm-block">
					@PopForums.Resources.StartedBy: @topic.StartedByName @PopForums.Resources.In @Model.ForumTitles[topic.ForumID] | @PopForums.Resources.Views: @topic.ViewCount | @PopForums.Resources.Replies: @topic.ReplyCount | @PopForums.Resources.Last: <span class="lastPostTime fTime" data-utc="@topic.LastPostTime.ToString("o")">@TimeFormattingService.GetFormattedTime(topic.LastPostTime, profile)</span> @PopForums.Resources.By @topic.LastPostName
				</small>
			</td>
		</tr>
	}
</table>
