@model PasswordResetContainer
@{
    ViewBag.Title = PopForums.Resources.PasswordReset;
    Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
}

<h1>@PopForums.Resources.PasswordReset</h1>
<ul id="TopBreadcrumb" class="breadcrumb sticky-top">
	<li class="breadcrumb-item"><a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
</ul>

@if (Model.IsValidUser)
{
	using(Html.BeginForm()){
		<div role="form">
			<div class="mb-3" pf-validationerror-class="has-error" pf-validation-for="Password">
				<label for="Password" class="form-label">@PopForums.Resources.PasswordNew</label>
				<input type="password" asp-for="Password" class="form-control"/>
				<span asp-validation-for="Password"></span>
			</div>
			<div class="mb-3" pf-validationerror-class="has-error" pf-validation-for="PasswordRetype">
				<label for="PasswordRetype" class="form-label">@PopForums.Resources.PasswordNewRetype</label>
				<input type="password" asp-for="PasswordRetype" class="form-control"/>
				<span asp-validation-for="PasswordRetype"></span>
			</div>
			<input type="submit" value="@PopForums.Resources.ChangePassword" class="btn btn-primary mb-3" />
		</div>
	}
}
else
{
	<p>@PopForums.Resources.PasswordResetLinkInvalid <a asp-action="Forgot">@PopForums.Resources.ForgotPasswordQuestion</a></p>
}