@using PopForums.Configuration
@inject ISettingsManager SettingsManager
@{
	ViewBag.Title = PopForums.Resources.VerifyAccount;
    Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
}

<h1>@PopForums.Resources.VerifyAccount</h1>
@if (!SettingsManager.Current.IsPrivateForumInstance)
{
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
	</ul>
}

@if (ViewData["EmailProblem"] != null)
{
	<div class="alert alert-danger">@ViewData["EmailProblem"] @ViewData["Result"]</div>
}
else if (ViewData["Result"] != null)
{
	<div class="alert alert-success">@ViewData["Result"]</div>
}

<div class="row">
	<div class="col-6">
		<form asp-action="VerifyCode" method="post">
			<div role="form">
				<div class="mb-3">
					<label for="authorizationCode" class="form-label">@PopForums.Resources.EnterVerificationCode</label>
					<input type="text" name="authorizationCode" class="form-control"/>
				</div>
				<input type="submit" value="@PopForums.Resources.VerifyCodeButton" class="btn btn-primary mb-3"/>
			</div>
		</form>
	</div>
	<div class="col-6">
		<form asp-action="RequestCode" method="post">
			<div role="form">
				<div class="mb-3">
					<label for="email" class="form-label">@PopForums.Resources.VerificationIfYouNeed</label>
					<input type="text" name="email" class="form-control" />
				</div>
				<input type="submit" value="@PopForums.Resources.SendEmailWithNewCodeButton" class="btn btn-primary mb-3" />
			</div>
		</form>
	</div>
</div>