@inject IUserRetrievalShim UserRetrievalShim
@inject ITimeFormattingService TimeFormattingService
@model DisplayProfile

@{
	ViewBag.Title = PopForums.Resources.Profile + " - " + Model.Name;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
	var profile = UserRetrievalShim.GetProfile();
}
@section HeaderContent {
}

<div>
	<h1>
		@if (Model.AvatarID.HasValue)
		{
			<img src="@Url.Action("Avatar", "Image", new {id = Model.AvatarID})" alt="Avatar image" class="img-fluid align-middle mr-3 mt-3 mb-3"/>
		}
		@Model.Name
	</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
	</ul>
</div>

<div id="Profile">
	<ul class="nav nav-tabs" role="tablist" id="ProfileTabs">
		<li class="nav-item"><a class="nav-link active" href="#Details" role="tab" data-toggle="tab">@PopForums.Resources.Profile</a></li>
		<li class="nav-item"><a class="nav-link" href="#ActivityFeed" role="tab" data-toggle="tab">@PopForums.Resources.ActivityFeed</a></li>
		<li class="nav-item"><a class="nav-link" href="#Awards" role="tab" data-toggle="tab">@PopForums.Resources.Awards</a></li>
	</ul>
	<div class="tab-content">
		<div id="Details" class="tab-pane active pl-3">
			<div>
				@if (Model.ShowDetails)
				{
					<div class="row">
						<div class="col-4">@PopForums.Resources.Contact</div>
						<div class="col-8">
							<a asp-controller="PrivateMessages" asp-action="Create" asp-route-id="@Model.UserID">@String.Format(PopForums.Resources.SendNamePM, Model.Name)</a><br />
							<a asp-controller="Account" asp-action="EmailUser" asp-route-id="@Model.UserID">@String.Format(PopForums.Resources.SendNameEmail, Model.Name)</a>
						</div>
					</div>
				}

				<div class="row">
					<div class="col-10 offset-4"><a asp-controller="Account" asp-action="Posts" asp-route-id="@Model.UserID" asp-route-pageNumber="">@(String.Format(PopForums.Resources.NamePosts, Model.Name) + " (" + Model.PostCount.ToString("N0") + ")")</a></div>
				</div>

				<div class="row">
					<div class="col-4">@PopForums.Resources.Joined</div>
					<div class="col-8">@TimeFormattingService.GetFormattedTime(Model.Joined, profile)</div>
				</div>

				@if (Model.Dob.HasValue)
				{
					<div class="row">
						<div class="col-4">@PopForums.Resources.Birthday</div>
						<div class="col-8">@Model.Dob.Value.ToString("D")</div>
					</div>
				}

				@if (!String.IsNullOrWhiteSpace(Model.Location))
				{
					<div class="row">
						<div class="col-4">@PopForums.Resources.Location</div>
						<div class="col-8">@Model.Location</div>
					</div>
				}

				@if (!String.IsNullOrWhiteSpace(Model.Facebook))
				{
					<div class="row">
						<div class="col-4 text-nowrap"><span class="icon-facebook2"></span> Facebook</div>
						<div class="col-8"><a href="https://facebook.com/@Model.Facebook" target="_blank">@Model.Facebook</a></div>
					</div>
				}

				@if (!String.IsNullOrWhiteSpace(Model.Twitter))
				{
					<div class="row">
						<div class="col-4 text-nowrap"><span class="icon-twitter"></span> Twitter</div>
						<div class="col-8"><a href="https://twitter.com/@Model.Twitter" target="_blank">&#64;@Model.Twitter</a></div>
					</div>
				}

				@if (!String.IsNullOrWhiteSpace(Model.Instagram))
				{
					<div class="row">
						<div class="col-4 text-nowrap"><span class="icon-instagram"></span> Instagram</div>
						<div class="col-8"><a href="https://www.instagram.com/@Model.Instagram" target="_blank">@Model.Instagram</a></div>
					</div>
				}

				@if (!String.IsNullOrWhiteSpace(Model.Web))
				{
					<div class="row">
						<div class="col-4">@PopForums.Resources.Web</div>
						<div class="col-8"><a href="@Model.Web" target="_blank">@Model.Web</a></div>
					</div>
				}

				<div class="row">
					<div class="col-4">@PopForums.Resources.ScoringGame</div>
					<div class="col-8">@Model.Points.ToString("N0")</div>
				</div>
			</div>

			@if (Model.ImageID.HasValue && Model.IsImageApproved)
			{
				<div class="row">
					<img src="@Url.Action("UserImage", "Image", new { id = Model.ImageID })" alt="User image" class="img-fluid" />
				</div>
			}
		</div>

		<div id="ActivityFeed" class="tab-pane">
			@foreach (var item in Model.Feed)
			{
				<div class="alert-light alert mt-2">
					@if (item.Points > 0)
					{
						<div class="activityFeedPoints">+@item.Points</div>
					}
					<div>@Html.Raw(item.Message)</div>
					<div class="text-right small">@TimeFormattingService.GetFormattedTime(item.TimeStamp, profile)</div>
				</div>
			}
		</div>

		<div id="Awards" class="tab-pane">
			@foreach (var item in Model.UserAwards)
			{
				<div class="alert-light alert mt-2" title="@item.Description">
					<h2>@item.Title</h2>
					<div class="text-right small">@TimeFormattingService.GetFormattedTime(item.TimeStamp, profile)</div>
				</div>
			}
			@if (Model.UserAwards.Count == 0)
			{
				<div>@PopForums.Resources.None</div>
			}
		</div>
	</div>
</div>