<!DOCTYPE html>

<html>
<head>
    <title>@PopForums.Resources.PopForumsAdmin - @ViewBag.PageTitle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script src="~/lib/popper.js/dist/popper.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/lib/PopForums/PopForums.js" type="text/javascript"></script>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/PopForums/Admin.css" rel="stylesheet" type="text/css" />
	@RenderSection("HeaderContent", required: false)
</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="dropdown w-100">
					<a class="btn btn-secondary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						@PopForums.Resources.PopForumsAdmin
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" asp-action="Index" asp-controller="Home">@PopForums.Resources.ForumHome</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" asp-action="Index">@PopForums.Resources.GeneralSettings</a>
						<a class="dropdown-item" asp-action="Categories">@PopForums.Resources.Categories</a>
						<a class="dropdown-item" asp-action="Forums">@PopForums.Resources.Forums</a>
						<a class="dropdown-item" asp-action="ForumPermissions">@PopForums.Resources.ForumPermisions</a>
						<a class="dropdown-item" asp-action="Email">@PopForums.Resources.Email</a>
						<a class="dropdown-item" asp-action="Search">@PopForums.Resources.Search</a>
						<a class="dropdown-item" asp-action="ExternalLogins">@PopForums.Resources.ExternalLogins</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" asp-action="EditUserSearch">@PopForums.Resources.EditUser</a>
						<a class="dropdown-item" asp-action="UserRoles">@PopForums.Resources.UserRoles</a>
						<a class="dropdown-item" asp-action="UserImageApprove">@PopForums.Resources.UserImageApproval</a>
						<a class="dropdown-item" asp-action="Ban">@PopForums.Resources.EmailIpBan</a>
						<a class="dropdown-item" asp-action="EmailUsers">@PopForums.Resources.EmailUsers</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" asp-action="ScoringGame">@PopForums.Resources.ScoringGame</a>
						<a class="dropdown-item" asp-action="EventDefinitions">@PopForums.Resources.EventDefinitions</a>
						<a class="dropdown-item" asp-action="AwardDefinitions">@PopForums.Resources.AwardDefinitions</a>
						<a class="dropdown-item" asp-action="ManualEvent">@PopForums.Resources.ManualEvent</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" asp-action="IPHistory">@PopForums.Resources.IpHistory</a>
						<a class="dropdown-item" asp-action="SecurityLog">@PopForums.Resources.SecurityLog</a>
						<a class="dropdown-item" asp-action="ModerationLog">@PopForums.Resources.ModerationLog</a>
						<a class="dropdown-item" asp-action="ErrorLog">@PopForums.Resources.ErrorLog</a>
						<a class="dropdown-item" asp-action="Services">@PopForums.Resources.Services</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-9">
					@if (ViewData["PostResult"] != null)
					{
						<p id="PostResult" class="alert alert-danger">@ViewData["PostResult"]</p>
					}
					@RenderBody()
				</div>
			</div>
			<div class="row">
				<p id="Copyright" class="small">&copy;@DateTime.Now.Year, POP World Media, LLC</p>
			</div>
		</div>
	</body>
</html>
