@model UserEditWithFiles
@inject IUserService _userService
@{
	ViewBag.PageTitle = PopForums.Resources.EditUser;
	Layout = "~/Areas/Forums/Views/Admin/AdminMaster.cshtml";
	var timeZones = DataCollections.TimeZones().Select(x => new SelectListItem() { Value = x.Key.ToString(), Text = x.Value });
	var roles = _userService.GetAllRoles();
}

@section HeaderContent {
<script language="javascript" type="text/javascript">
	$(function () {
		$("input.confirm").click(function () {
			if (confirm("@PopForums.Resources.AreYouSure"))
				return true;
			else
				return false;
		});
	});
</script>
}

<h2>@PopForums.Resources.EditUser</h2>

@using (Html.BeginForm("EditUser", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
	<div class="col-12">
		<h2>@PopForums.Resources.Security</h2>
	</div>
	<div class="form-group">
		<label class="col-4 control-label">@PopForums.Resources.Name</label>
		<div class="col-8">
			<p class="form-control-static">@Model.Name</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-4 control-label">@PopForums.Resources.Email</label>
		<div class="col-8">
			<p class="form-control-static"><a href="mailto:@Model.Email">@Model.Email</a></p>
		</div>
	</div>
	<div class="form-group">
		<label for="NewEmail" class="col-4 control-label">@PopForums.Resources.EmailNewOptional</label>
		<div class="col-8">
			<input type="text" asp-for="NewEmail" class="form-control" autocomplete="off"/>
			<span asp-validation-for="NewEmail"></span>
		</div>
	</div>
	<div class="form-group">
		<label for="NewPassword" class="col-4 control-label">@PopForums.Resources.PasswordNewOptional</label>
		<div class="col-8">
			<input type="password" asp-for="NewPassword" class="form-control" autocomplete="off"/>
			<span asp-validation-for="NewPassword"></span>
		</div>
	</div>
	<div class="form-group">
		<div class="offset-4 col-8">
			<div class="checkbox">
				<label>
					<input type="checkbox" asp-for="IsApproved"/> @PopForums.Resources.IsApproved
				</label>
			</div>
		</div>
	</div>

	<div class="col-12">
		<h2>@PopForums.Resources.Options</h2>
	</div>
	<div class="form-group">
		<div class="offset-2 col-10">
			<div class="checkbox">
				<label>
					<input type="checkbox" asp-for="IsSubscribed" /> @PopForums.Resources.SubscribeToList
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="offset-2 col-10">
			<div class="checkbox">
				<label>
					<input type="checkbox" asp-for="ShowDetails" /> @PopForums.Resources.ShowProfileDetails
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="offset-2 col-10">
			<div class="checkbox">
				<label>
					<input type="checkbox" asp-for="IsPlainText" /> @PopForums.Resources.ForcePlainTextBox
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="offset-2 col-10">
			<div class="checkbox">
				<label>
					<input type="checkbox" asp-for="HideVanity" /> @PopForums.Resources.HideVanity
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="TimeZone" class="col-2 control-label">@PopForums.Resources.TimeZone</label>
		<div class="col-10">
			<select asp-for="TimeZone" asp-items="@timeZones" class="form-control"></select>
		</div>
	</div>
	<div class="form-group">
		<div class="offset-2 col-10">
			<div class="checkbox">
				<label>
					<input type="checkbox" asp-for="IsDaylightSaving" /> @PopForums.Resources.UseDaylight
				</label>
			</div>
		</div>
	</div>

	<div class="col-12">
		<h2>@PopForums.Resources.Details</h2>
	</div>
	<div class="form-group">
		<label for="Signature" class="col-2 control-label">@PopForums.Resources.Signature</label>
		<div class="col-10">
			<textarea asp-for="Signature" class="form-control" rows="3"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="Location" class="col-2 control-label">@PopForums.Resources.Location</label>
		<div class="col-10">
			<input type="text" asp-for="Location" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label for="Dob" class="col-2 control-label">@PopForums.Resources.DateOfBirth</label>
		<div class="col-10">
			<input type="text" asp-for="Dob" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label for="Facebook" class="col-2 control-label">Facebook</label>
		<div class="col-10">
			<div class="input-group">
				<span class="input-group-addon">https://facebook.com/</span>
				<input type="text" asp-for="Facebook" class="form-control" />
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="Twitter" class="col-2 control-label">Twitter</label>
		<div class="col-10">
			<div class="input-group">
				<span class="input-group-addon">&#64;</span>
				<input type="text" asp-for="Twitter" class="form-control" />
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="Web" class="col-2 control-label">@PopForums.Resources.Web</label>
		<div class="col-10">
			<input type="text" asp-for="Web" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label for="Instagram" class="col-2 control-label">Instagram</label>
		<div class="col-10">
			<input type="text" asp-for="Instagram" class="form-control" />
		</div>
	</div>

	<div class="col-12">
		<h2>@PopForums.Resources.Roles</h2>
	</div>
	<div class="form-group">
		<div class="col-10 offset-2">
			@foreach (var item in roles)
			{
				<input type="checkbox" name="Roles" value="@item" @if (Model.Roles.Contains(item)) { <text> checked="checked"</text> } />
				<label for="@item">@item</label><br />
			}
		</div>
	</div>

	<div class="col-12">
		<h2>@PopForums.Resources.Avatar</h2>
	</div>
	<div class="form-group">
		<label for="avatarFile" class="col-4 control-label">@PopForums.Resources.UploadNew</label>
		<div class="col-8">
			<input type="file" id="AvatarFile" name="AvatarFile" class="form-control" />
		</div>
	</div>
	if (Model.AvatarID.HasValue) {
		<p>
			<img src="@Url.Action("Avatar", "Image", new {id = Model.AvatarID})" alt="Avatar image" /><br />
			<input type="checkbox" asp-for="DeleteAvatar"/> <label for="DeleteAvatar">@PopForums.Resources.AvatarDelete</label>
		</p>
	}

	<div class="col-12">
		<h2>@PopForums.Resources.Photo</h2>
	</div>
	<div class="form-group">
		<label for="photoFile" class="col-4 control-label">@PopForums.Resources.UploadNew</label>
		<div class="col-8">
			<input type="file" id="PhotoFile" name="PhotoFile" class="form-control" />
		</div>
	</div>
	if (Model.ImageID.HasValue) {
		<p>
			<img src="@Url.Action("UserImage", "Image", new {id = Model.ImageID})" alt="User photo" /><br />
			<input type="checkbox" asp-for="DeleteImage"/> <label for="DeleteImage">@PopForums.Resources.PhotoDelete</label>
		</p>
	}
	<p><input type="submit" value="@PopForums.Resources.Save" class="btn btn-primary" /></p>
}

<p><em>@PopForums.Resources.UserDeleteWarning</em></p>
<form asp-action="DeleteAndBanUser" method="post">
	<input type="hidden" value="@Model.UserID" name="id" />
	<p><input type="submit" value="@PopForums.Resources.DeleteAndBanButton" class="confirm btn btn-primary"/>
	</p>
</form>
<form asp-action="DeleteUser" method="post">
	<input type="hidden" value="@Model.UserID" name="id" />
	<p><input type="submit" value="@PopForums.Resources.DeleteUserButton" class="confirm btn btn-primary" /></p>
</form>