@model PopForums.Configuration.Settings

@{
    ViewBag.PageTitle = PopForums.Resources.Email;
    Layout = "~/Areas/Forums/Views/Admin/AdminMaster.cshtml";
}

@section HeaderContent {
<script language="javascript" type="text/javascript">
	$(function () {
		var useEsmtp = $("#UseEsmtp:checkbox");
		SetEsmtpBoxes();
		useEsmtp.click(function () { SetEsmtpBoxes(); });
	});

	function SetEsmtpBoxes() {
		var enabled = $("#UseEsmtp:checkbox").is(":checked");
		if (enabled)
			$("#SmtpUser, #SmtpPassword").removeAttr("disabled");
		else
			$("#SmtpUser, #SmtpPassword").attr("disabled", "disabled");
	}
</script>
}

<h2>@PopForums.Resources.Email</h2>

<form method="post">
	<div class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-4 control-label">@PopForums.Resources.SmtpServer</label>
			<div class="col-8">
				<input type="text" asp-for="SmtpServer" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-4 control-label">@PopForums.Resources.SmtpPort</label>
			<div class="col-3">
				<input type="text" asp-for="SmtpPort" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-4 control-label">@PopForums.Resources.FromEmailAddress</label>
			<div class="col-8">
				<input type="text" asp-for="MailerAddress" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<div class="offset-4 col-8">
				<div class="checkbox">
					<label>
						<input type="checkbox" asp-for="UseSslSmtp"/> @PopForums.Resources.UseSsl
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="offset-4 col-8">
				<div class="checkbox">
					<label>
						<input type="checkbox" asp-for="UseEsmtp" /> @PopForums.Resources.UseEsmtpCred
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-4 control-label">@PopForums.Resources.SmtpUser</label>
			<div class="col-8">
				<input type="text" asp-for="SmtpUser" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-4 control-label">@PopForums.Resources.SmtpPassword</label>
			<div class="col-8">
				<input type="text" asp-for="SmtpPassword" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-4 control-label">@PopForums.Resources.SendingInterval</label>
			<div class="col-3">
				<input type="text" asp-for="MailSendingInverval" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-4 control-label">Mailer quantity</label>
			<div class="col-3">
				<input type="text" asp-for="MailerQuantity" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-4 control-label">@PopForums.Resources.Signature</label>
			<div class="col-8">
				<textarea asp-for="MailSignature" class="form-control" rows="4"></textarea>
			</div>
		</div>
		<input type="submit" value="@PopForums.Resources.Save" class="btn btn-primary" />
	</div>
</form>