@model List<ErrorLogEntry>
@{
    ViewBag.PageTitle = PopForums.Resources.ErrorLog;
    Layout = "~/Areas/Forums/Views/Admin/AdminMaster.cshtml";
}

<h1>@PopForums.Resources.ErrorLog</h1>

<form asp-action="DeleteAllErrorLog" method="post">
	<p><input type="submit" value="@PopForums.Resources.DeleteAllErrors" class="btn btn-primary" /></p>
</form>

<pf-pagerlinks actionName="ErrorLog" controllerName="Admin" pagerContext="@((PagerContext)ViewData["PagerContext"])" class="pagination pagerLinks"/>

@foreach(var error in Model) {

	<p>
		<form asp-action="DeleteErrorLog" method="post">
			<input type="submit" value="@PopForums.Resources.Delete" class="btn btn-primary" />@Html.Hidden("id", error.ErrorID)
		</form>
		<b>@error.Severity: @error.TimeStamp - @error.Message</b>
	</p>

	<p class="small">@Html.Raw(error.StackTrace.Replace("\r\n", "<br />"))</p>

	<p class="small">@Html.Raw(error.Data.Replace("\r\n", "<br />"))</p>

	<hr />

}