@model List<ModerationLogEntry>
@inject IUserRetrievalShim UserRetrievalShim
@inject ITimeFormattingService TimeFormattingService
@{
	var profile = UserRetrievalShim.GetProfile();
}
<div class="alert alert-secondary">
	<h3>@PopForums.Resources.ModerationLog</h3>

	@if (Model.Count == 0)
	{
		<p>@PopForums.Resources.None</p>
	}
	<table class="table">
		@foreach (var entry in Model)
		{
			<tr>
				<td>@TimeFormattingService.GetFormattedTime(entry.TimeStamp, profile)</td>
				@if (entry.UserID == 0)
				{
					<td>@entry.UserName</td>
				}
				else
				{
					<td><a asp-controller="@AccountController.Name" asp-action="ViewProfile" asp-route-id="@entry.UserID" target="_blank">@entry.UserName</a></td>
				}
				<td>@entry.ModerationType</td>
			</tr>
		}
	</table>
</div>