@using PopForums.Controllers
@{
	ViewBag.Title = @PopForums.Resources.Login;
    Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
}

@section HeaderContent
{
	<script language="javascript" type="text/javascript">
		$(function () {
			$("#LoginButton").click(PopForums.processLoginExternal);
			$("#EmailLogin,#PasswordLogin").keydown(function (e) { if (e.keyCode == 13) PopForums.processLoginExternal(); });
		});
	</script>
}

<div class="row">
	<h1>@PopForums.Resources.Login - @PopForums.Resources.ExternalLogins</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li><span class="glyphicon glyphicon-chevron-up"></span> @Html.ActionLink(PopForums.Resources.Forums, "Index", ForumHomeController.Name, null, null)</li>
	</ul>
</div>

<div class="row">
	<div class="col-xs-6">
		<h2>@Html.ActionLink(PopForums.Resources.CreateAnAccount, "Create", "Account")</h2>
	</div>
	<div class="col-xs-6">
		<h2>@PopForums.Resources.UseExistingForumAccount</h2>
		<div id="LoginResult" class="bg-danger callout hide"></div>
		<div role="form">
			<div class="form-group">
				<label for="EmailLogin">@PopForums.Resources.Email</label>
				@Html.TextBox("EmailLogin", null, new { @class = "form-control" })
			</div>
			<div class="form-group">
				<label for="PasswordLogin">@PopForums.Resources.Password</label>
				@Html.Password("PasswordLogin", null, new { @class = "form-control" })
			</div>
			<div class="checkbox">
				<label>
					@Html.CheckBox("PersistCookie") @PopForums.Resources.RememberMe
				</label>
			</div>
			<input id="LoginButton" type="button" value="@PopForums.Resources.Login" />
		</div>
		@Html.Hidden("Referrer", (object)ViewBag.Referrer)
	</div>
</div>
