@{
	ViewBag.Title = @PopForums.Resources.Login;
    Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
}

@section HeaderContent
{
	<script language="javascript" type="text/javascript">
		$(function () {
			$("#LoginButton").click(PopForums.processLoginExternal);
			$("#EmailLogin,#PasswordLogin").keydown(function (e) { if (e.keyCode == 13) PopForums.processLoginExternal(); });
		});
	</script>
}

<h1>@PopForums.Resources.Login - @PopForums.Resources.ExternalLogins</h1>

<h2>@Html.ActionLink(PopForums.Resources.CreateAnAccount, "Create", "Account")</h2>

<hr />

<h2>@PopForums.Resources.UseExistingForumAccount</h2>
<table class="account">
	<tr>
		<td colspan="2"><span id="LoginResult" class="warning"></span></td>
	</tr>
	<tr>
		<td>@PopForums.Resources.Email</td>
		<td>@Html.TextBox("EmailLogin")</td>
	</tr>
	<tr>
		<td>@PopForums.Resources.Password</td>
		<td>@Html.Password("PasswordLogin")</td>
	</tr>
	<tr>
		<td></td>
		<td>@Html.CheckBox("PersistCookie") <label for="PersistCookie">@PopForums.Resources.RememberMe</label></td>
	</tr>
	<tr>
		<td></td>
		<td><input id="LoginButton" type="button" value="@PopForums.Resources.Login" /></td>
	</tr>
</table>
@Html.Hidden("Referrer", (object)ViewBag.Referrer)