@model TopicContainer
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc.ViewFeatures;
@using PopForums.Extensions;
@using PopForums.Models;
@using PopForums.Web.Areas.Forums.Controllers
@addTagHelper *, PopForums.Web
@inject IUserRetrievalShim UserRetrievalShim
@inject ITimeFormattingService TimeFormattingService
@{
	ViewBag.Title = Model.Topic.Title;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
	var user = UserRetrievalShim.GetUser(Context);
	var profile = UserRetrievalShim.GetProfile(Context);
}

@section HeaderContent {
<script src="~/lib/tinymce/jquery.tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function () {
		PopForums.topicSetup(@Model.Topic.TopicID, @Model.PagerContext.PageIndex, @Model.PagerContext.PageCount);
	});
</script>
}

<div>
	<h1>@Model.Topic.Title</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li><a asp-controller="@ForumController.Name" asp-action="Recent">@PopForums.Resources.Recent</a></li>
		<li><span class="glyphicon glyphicon-chevron-up"></span> <a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
		<li><a asp-controller="Forum" asp-action="Index" asp-route-urlName="@Model.Forum.UrlName">@Model.Forum.Title</a></li>
	</ul>
	<ul id="FixedBreadcrumb" class="breadcrumb">
		<li><a asp-controller="@ForumController.Name" asp-action="Recent">@PopForums.Resources.Recent</a></li>
		<li><span class="glyphicon glyphicon-chevron-up"></span> <a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
		<li><a asp-controller="Forum" asp-action="Index" asp-route-urlName="@Model.Forum.UrlName">@Model.Forum.Title</a></li>
		<li>@Model.Topic.Title</li>
	</ul>
</div>

@if (user != null) {
	<p id="AsyncResponse"></p>
	<div id="TopicTools">
		<input type="button" value="@(Model.IsSubscribed ? PopForums.Resources.Unsubscribe : PopForums.Resources.Subscribe)" id="SubscribeButton" class="btn btn-primary" />
		<input type="button" value="@(Model.IsFavorite ? PopForums.Resources.FavoriteRemove : PopForums.Resources.FavoriteMake)" id="FavoriteButton" class="btn btn-primary" />
		@if (user.IsInRole(PermanentRoles.Moderator))
		{
			<input id="TopicModLogButton" class="btn btn-primary" type="button" value="@PopForums.Resources.ModerationLog" />
			<div id="TopicModerationLog"></div>
		}
	</div>
}

<pf-pagerLinks controllerName="Forum" actionName="Topic" pagerContext="@Model.PagerContext" class="pagination pagerLinks" moreTextClass="morePager" currentTextClass="currentPager" />

<div id="PostStream">
@if (Model.PagerContext.PageIndex > 1)
{
	<input type="button" class="btn btn-primary previousPostsButton" value="@PopForums.Resources.ShowPreviousPosts" />
}

@foreach(var post in Model.Posts) {
	Html.RenderPartial("~/Areas/Forums/Views/Forum/PostItem.cshtml", new PostItemContainer { Post = post, VotedPostIDs = Model.VotedPostIDs, Signatures = Model.Signatures, Avatars = Model.Avatars, User = user, Profile = profile, Topic = Model.Topic });
}

@if (Model.PagerContext.PageIndex < Model.PagerContext.PageCount)
{
	<input type="button" class=" btn btn-primary morePostsButton" value="@PopForums.Resources.ShowMorePosts" />
}
</div>

<input type="hidden" id="LastPostID" name="LastPostID" value="@Model.Posts.Last().PostID" class="lastPostID" />

<pf-pagerLinks controllerName="Forum" actionName="Topic" pagerContext="@Model.PagerContext" class="pagination pagerLinks" moreTextClass="morePager" currentTextClass="currentPager" />

<div id="StreamBottom"></div>

@if (Model.PermissionContext.UserCanPost)
{
	<div id="NewReply" style="display: none;"></div>
	<input type="button" value="@PopForums.Resources.PostReply" id="ReplyButton" class="btn btn-primary" />
}
else
{
	<p class="bg-danger callout">@Model.PermissionContext.DenialReason</p>
}

@if (user != null && user.IsInRole(PermanentRoles.Moderator))
{
	<div id="ModeratorPanel">
		<h3>@PopForums.Resources.Moderator</h3>
		<div class="checkbox">
			<label for="CloseOnReply">
				@Html.CheckBox("CloseOnReply", new { @class = "checkbox" })
				@PopForums.Resources.CloseOnReply
			</label>
		</div>
		<ul class="list-inline">
			<li>
				<form asp-action="ToggleDeleted" asp-controller="Moderator" asp-antiforgery="false" asp-route-id="@Model.Topic.TopicID" class="inlineModForm"><input type="submit" value="@(Model.Topic.IsDeleted ? PopForums.Resources.Undelete : PopForums.Resources.Delete)" class="btn btn-warning"/>
				</form></li>
			<li>
				<form asp-action="TogglePin" asp-controller="Moderator" asp-antiforgery="false" asp-route-id="@Model.Topic.TopicID" class="inlineModForm"><input type="submit" value="@(Model.Topic.IsPinned ? PopForums.Resources.Unpin : PopForums.Resources.Pin)" class="btn btn-warning"/>
				</form></li>
			<li>
				<form asp-action="ToggleClosed" asp-controller="Moderator" asp-antiforgery="false" asp-route-id="@Model.Topic.TopicID" class="inlineModForm"><input type="submit" value="@(Model.Topic.IsClosed ? PopForums.Resources.Open : PopForums.Resources.Close)" class="btn btn-warning"/>
				</form></li>
			@if (user.IsInRole(PermanentRoles.Admin))
			{
				<li>
					<form asp-action="DeleteTopicPermanently" asp-controller="Moderator" asp-antiforgery="false" asp-route-id="@Model.Topic.TopicID" class="inlineModForm"><input type="submit" value="@PopForums.Resources.DeletePermanently" class="btn btn-warning"/>
					</form></li>
			}
		</ul>
		<form asp-action="UpdateTopic" asp-controller="Moderator" asp-antiforgery="false" asp-route-id="@Model.Topic.TopicID" class="form-horizontal" role="form">
			@Html.Hidden("TopicID", Model.Topic.TopicID)
			<div class="form-group">
				<label for="NewTitle" class="col-sm-2 control-label">@PopForums.Resources.Title</label>
				<div class="col-sm-6">
					@Html.TextBox("NewTitle", Model.Topic.Title, new {@class = "form-control"})
				</div>
			</div>
			<div class="form-group">
				<label for="NewForum" class="col-sm-2 control-label">@PopForums.Resources.Forum</label>
				<div class="col-sm-6">
					<select id="NewForum" name="NewForum" class="form-control">
						@foreach (var forum in ((CategorizedForumContainer) ViewBag.CategorizedForums).UncategorizedForums)
						{
							<option value="@forum.ForumID" @Html.Raw(forum.ForumID == Model.Topic.ForumID ? @" selected=""selected""" : "")>@forum.Title</option>}
						@foreach (var category in ((CategorizedForumContainer) ViewBag.CategorizedForums).CategoryDictionary)
						{
							<optgroup label="@category.Key.Title">
								@foreach (var forum in category.Value)
								{
									<option value="@forum.ForumID" @Html.Raw(forum.ForumID == Model.Topic.ForumID ? @" selected=""selected""" : "")>@forum.Title</option>}
							</optgroup>
						}
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-6">
					<input type="submit" value="@PopForums.Resources.Update" class="btn btn-warning"/>
				</div>
			</div>
		</form>
	</div>
}