@model SetupVariables

<!DOCTYPE html>

<html>
<head>
	<title>@PopForums.Resources.PopForumsSetup</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<script type="text/javascript">
		var ready = (callback) => {
			if (document.readyState != "loading") callback();
			else document.addEventListener("DOMContentLoaded", callback);
		};

		ready(() => {
			var useEsmtp = document.querySelector("#UseEsmtp");
			SetEsmtpBoxes();
			useEsmtp.addEventListener("click", () => { SetEsmtpBoxes(); });
		});

		function SetEsmtpBoxes() {
			var enabled = document.querySelector("#UseEsmtp").checked;
			if (enabled)
				document.querySelectorAll("#SmtpUser, #SmtpPassword").forEach(x => x.removeAttribute("disabled"));
			else
				document.querySelectorAll("#SmtpUser, #SmtpPassword").forEach(x => x.setAttribute("disabled", "disabled"));
		}
	</script>
</head>
<body>
	<div class="container">
		<h1>@PopForums.Resources.PopForumsSetup</h1>
		<p>@PopForums.Resources.SetupConnSuccess:</p>
		@using (Html.BeginForm("Index", "Setup", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			<div class="mb-3 row">
				<label class="col-2 form-label" for="ForumTitle">@PopForums.Resources.ForumTitle</label>
				<div class="col-10">@Html.TextBoxFor(s => s.ForumTitle, new { @class = "form-control" })</div>
			</div>
			<div class="mb-3 row">
				<label class="col-2 form-label" for="SmtpServer">@PopForums.Resources.SmtpServer</label>
				<div class="col-10">@Html.TextBoxFor(s => s.SmtpServer, new { @class = "form-control" })</div>
			</div>
			<div class="mb-3 row">
				<label class="col-2 form-label" for="SmtpPort">@PopForums.Resources.SmtpPort</label>
				<div class="col-2">@Html.TextBoxFor(s => s.SmtpPort, new { @class = "form-control" })</div>
			</div>
			<div class="mb-3 row">
				<label class="col-2 form-label" for="MailerAddress">@PopForums.Resources.FromEmailAddress</label>
				<div class="col-10">@Html.TextBoxFor(s => s.MailerAddress, new { @class = "form-control" })</div>
			</div>
			<div class="mb-3 row">
				<div class="offset-2 col-10">
					<div class="form-check">
						@Html.CheckBoxFor(s => s.UseSslSmtp, new { @class = "form-check-input" })
						<label class="form-check-label" for="UseSslSmtp">@PopForums.Resources.UseSsl</label>
					</div>
				</div>
			</div>
			<div class="mb-3 row">
				<div class="offset-2 col-10">
					<div class="form-check">
						@Html.CheckBoxFor(s => s.UseEsmtp, new { @class = "form-check-input" })
						<label class="form-check-label" for="UseEsmtp">@PopForums.Resources.UseEsmtpCred</label>
					</div>
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-2 form-label" for="SmtpUser">@PopForums.Resources.SmtpUser</label>
				<div class="col-10">@Html.TextBoxFor(s => s.SmtpUser, new { @class = "form-control" })</div>
			</div>
			<div class="mb-3 row">
				<label class="col-2 form-label" for="SmtpPassword">@PopForums.Resources.SmtpPassword</label>
				<div class="col-10">@Html.TextBoxFor(s => s.SmtpPassword, new { @class = "form-control" })</div>
			</div>
			<h3>@PopForums.Resources.SetupFirstUser</h3>
			<div class="mb-3 row">
				<label class="col-2 form-label" for="Name">@PopForums.Resources.DisplayName</label>
				<div class="col-10">@Html.TextBoxFor(s => s.Name, new { @class = "form-control" })</div>
			</div>
			<div class="mb-3 row">
				<label class="col-2 form-label" for="Email">@PopForums.Resources.Email</label>
				<div class="col-10">@Html.TextBoxFor(s => s.Email, new { @class = "form-control" })</div>
			</div>
			<div class="mb-3 row">
				<label class="col-2 form-label" for="Password">@PopForums.Resources.Password</label>
				<div class="col-10">@Html.PasswordFor(s => s.Password, new { @class = "form-control" })</div>
			</div>
			<div class="mb-3 row">
				<input type="submit" value="@PopForums.Resources.SetupDatabase" class="btn btn-primary" />
			</div>
		}
	</div>
</body>
</html>