<!DOCTYPE html>

<html>
<head>
	<title>@PopForums.Resources.PopForumsSetup - @PopForums.Resources.Success</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container">
		<h1>@PopForums.Resources.PopForumsSetup -  @PopForums.Resources.Success</h1>
		<p>Congratulations!</p>
		<p>@PopForums.Resources.ForumReady</p>
		<p>@PopForums.Resources.AppRestartRequired</p>
	</div>
</body>
</html>