@{
    ViewBag.PageTitle = PopForums.Resources.EmailIpBan;
    Layout = "~/Areas/PopForums/Views/Admin/AdminMaster.cshtml";
}

<h1>@PopForums.Resources.EmailIpBan</h1>

<h2>@PopForums.Resources.EmailBan</h2>

<table class="table">
	<tr>
		<td>
			@using(Html.BeginForm("BanEmail", "Admin", FormMethod.Post, new { @class = "form-inline"} )) {
				@Html.TextBox("email", null, new { @class = "form-control" })
				<input type="submit" value="@PopForums.Resources.Ban" class="btn btn-primary" />
			}
		</td>
		<td>
			@using(Html.BeginForm("RemoveEmailBan", "Admin")) {
				<select name="email" size="6" class="form-control">
					@foreach(var item in (List<string>)ViewData["EmailList"]) {
						<option>@item</option>
					}
				</select><br />
				<input type="submit" value="@PopForums.Resources.BanRemove" class="btn btn-primary" />
			}
		</td>
	</tr>
</table>

<h2>@PopForums.Resources.IpBan</h2>

<table class="table">
	<tr>
		<td>
			@using(Html.BeginForm("BanIP", "Admin")) {
				@Html.TextBox("ip")
				<input type="submit" value="@PopForums.Resources.Ban" class="btn btn-primary" />
			}
		</td>
		<td>
			@using(Html.BeginForm("RemoveIPBan", "Admin")) {
				<select name="ip" size="6" class="form-control">
					@foreach(var item in (List<string>)ViewData["IPList"]) {
						<option>@item</option>
					}
				</select><br />
				<input type="submit" value="@PopForums.Resources.BanRemove" class="btn btn-primary" />
			}
		</td>
	</tr>
</table>