@{
	ViewBag.PageTitle = PopForums.Resources.EmailUsers;
    Layout = "~/Areas/PopForums/Views/Admin/AdminMaster.cshtml";
}

<h1>@PopForums.Resources.EmailUsers</h1>

@if (ViewBag.Result != null)
{<p class="bg-danger callout">@ViewBag.Result</p>}

@using (Html.BeginForm())
{
	<div role="form">
		<div class="form-group">
			<label>@PopForums.Resources.Subject</label>
			@Html.TextBox("Subject", null, new { @class = "form-control" })
		</div>
		<div class="form-group">
			<label>@PopForums.Resources.Body</label>
			@Html.TextArea("Body", null, new { @class = "form-control", rows = "10" })
		</div>
		<div class="form-group">
			<label>@PopForums.Resources.BodyHtml @PopForums.Resources.Optional</label>
			@Html.TextArea("HtmlBody", null, new { @class = "form-control", rows = "10" })
		</div>
		<input type="submit" value="Send" class="btn btn-default" />
	</div>
}