@using PopForums.Models;
@model List<IPHistoryEvent>

@{
	ViewBag.PageTitle = PopForums.Resources.IpHistory;
    Layout = "~/Areas/PopForums/Views/Admin/AdminMaster.cshtml";
}

<h1>@PopForums.Resources.IpHistory</h1>	

@using (Html.BeginForm()) {
	<div role="form">
		<div class="form-group">
			<label>@PopForums.Resources.IP</label>
			@Html.TextBox("ip", null, new { @class = "form-control" })
		</div>
		<div class="form-group">
			<label>@PopForums.Resources.StartDate</label>
			@Html.TextBox("start", null, new { @class = "form-control" })
		</div>
		<div class="form-group">
			<label>@PopForums.Resources.EndDate</label>
			@Html.TextBox("end", null, new { @class = "form-control" })
		</div>
		<input type="submit" value="@PopForums.Resources.Search" class="btn btn-primary" />
	</div>
}

@if (Model != null && Model.Count > 0) {

	<table class="table table-hover" style="margin-top: 20px;">
		<tr>
			<th>@PopForums.Resources.EventTime</th>
			<th>@PopForums.Resources.Type</th>
			<th>@PopForums.Resources.Description</th>
			<th>@PopForums.Resources.UserID</th>
			<th>@PopForums.Resources.Name</th>
			<th>@PopForums.Resources.ID</th>
		</tr>
	@foreach (var entry in Model) {
		<tr>
			<td class="text-nowrap">@FormatTime(entry.EventTime)</td>
			<td>@entry.Type.Name</td>
			<td>
				@switch(entry.Type.Name) {
					case "Post":
						@Html.ActionLink(entry.Description, "PostLink", "Forum", new { id = entry.ID }, new { target = "_blank" })
						break;
					case "SecurityLogEntry":
						@entry.Description
						break;
					default:
						@:none
						break;
				}
			</td>
			<td>@entry.UserID</td>
			<td>@entry.Name</td>
			<td>@entry.ID</td>
		</tr>
	}
	</table>

}