@model PopForums.Configuration.Settings

@{
    ViewBag.PageTitle = PopForums.Resources.Search;
    Layout = "~/Areas/PopForums/Views/Admin/AdminMaster.cshtml";
}

<h2>@PopForums.Resources.Search</h2>

<h3>@PopForums.Resources.IndexingInterval</h3>
@using (Html.BeginForm()) {
	<div role="form">
		<div class="form-group">
			<label>@PopForums.Resources.Millseconds</label>
			@Html.TextBox("SearchIndexingInterval", ViewData["Interval"])
		</div>
		<input type="submit" value="@PopForums.Resources.Save" class="btn btn-primary" />
	</div>
}

<h3>@PopForums.Resources.JunkWords</h3>

@using (Html.BeginForm("CreateJunkWord", "Admin")) {
	<div role="form" class="form-inline">
		<div class="form-group">
			<input type="text" id="newWord" name="newWord" class="form-control" />
		</div>
		<input type="submit" value="@PopForums.Resources.CreateJunkWordButton" class="btn btn-primary" />
	</div>
}

@using (Html.BeginForm("DeleteJunkWord", "Admin"))
{
	<div role="form">
		<div class="form-group">
			<select id="deleteWord" name="deleteWord" size="10" class="form-control">
				@foreach (var word in (List<string>)ViewData["JunkWords"])
				{<option value="@word">@word</option>}
			</select>
		</div>
		<input type="submit" value="@PopForums.Resources.DeleteJunkWordButton" class="btn btn-primary" />
	</div>
}