@using PopForums.Models;
@model Dictionary<UserImage, User>
@{
	ViewBag.PageTitle = PopForums.Resources.UserImageApproval;
    Layout = "~/Areas/PopForums/Views/Admin/AdminMaster.cshtml";
}

<h1>@PopForums.Resources.UserImageApproval</h1>

@if ((bool)ViewBag.IsNewUserImageApproved)
{
	<p class="bg-danger callout">@PopForums.Resources.UserImageApprovalNotReq</p>
}

@foreach (var item in Model)
{
	<p>
		@item.Value.Name | <a href="mailto:@item.Value.Email">@item.Value.Email</a><br />
		<img src="@Url.Action("UserImage", "Image", new {id = item.Key.UserImageID})" alt="User image" /><br />
		@using (Html.BeginForm("ApproveUserImage", "Admin", new { id = item.Key.UserImageID }, FormMethod.Post, new { style = "display: inline;" })) { <input type="submit" value="Approve" class="btn btn-primary" /> }
		@using (Html.BeginForm("DeleteUserImage", "Admin", new { id = item.Key.UserImageID }, FormMethod.Post, new { style = "display: inline;" })) { <input type="submit" value="@PopForums.Resources.Delete" class="btn btn-primary" /> }
	</p>
	<hr />
}