@using System.Threading.Tasks
@using PopForums.Web.Areas.Forums.Controllers
@model PopForums.Models.PagedTopicContainer
@inject IUserRetrievalShim UserRetrievalShim
@inject ITimeFormattingService TimeFormattingService
@{
	ViewBag.Title = PopForums.Resources.Search;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
	var routeParameters = new Dictionary<string, object> { { "query", ViewBag.Query }, { "searchType", ViewBag.SearchType } };
	var user = UserRetrievalShim.GetUser(Context);
	var profile = UserRetrievalShim.GetProfile(Context);
}

@section HeaderContent {
	<script type="text/javascript" language="javascript">
		$(function () {
			PopForums.topicPreviewSetup();
			PopForums.startTimeUpdater();
		});
	</script>
}

<div>
	<h1>@PopForums.Resources.Search</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li><a asp-controller="@ForumController.Name" asp-action="Recent" asp-route-page="">@PopForums.Resources.Recent</a></li>
		<li><span class="glyphicon glyphicon-chevron-up"></span> <a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
	</ul>
	<ul id="FixedBreadcrumb" class="breadcrumb">
		<li><a asp-controller="@ForumController.Name" asp-action="Recent" asp-route-page="">@PopForums.Resources.Recent</a></li>
		<li><span class="glyphicon glyphicon-chevron-up"></span> <a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
	</ul>
</div>

<div id="SearchForm">
	<form asp-action="Process" method="post" role="form" class="form-inline" asp-antiforgery="false">
		<div class="form-group">
			<input type="text" name="Query" id="Query" class="form-control" value="@(ViewBag.Query)"/>
		</div>
		<div class="form-group">
			@Html.DropDownList("SearchType", (SelectList)ViewBag.SearchTypes, new { @class = "form-control" })
		</div>
		<input type="submit" value="@PopForums.Resources.Search" class="btn btn-primary" />
	</form>
</div>

<pf-pagerlinks actionName="Result" controllerName="Search" pagerContext="@Model.PagerContext" class="pagination pagerLinks" moreTextClass="morePager" currentTextClass="currentPager" routeParameters="@routeParameters" />

@if (Model.Topics.Count == 0 && !String.IsNullOrEmpty(ViewBag.Query))
{
	<p>@PopForums.Resources.NoResults</p>
}
else
{
	<table id="TopicList" class="table grid table-hover">
		@foreach (var topic in Model.Topics)
		{
			<tr @if (topic.IsDeleted) { <text> class="bg-danger" </text>   }>
				<td class="newIndicator">
					@if (user == null)
					{
						<a asp-controller="Forum" asp-action="Topic" asp-route-id="@topic.UrlName"><pf-topicReadIndicator topic="@topic" pagedTopicContainer="@Model" imagePath="/lib/PopForums/" /></a>
					}
					else
					{
						<a asp-controller="@ForumController.Name" asp-action="GoToNewestPost" asp-route-id="@topic.TopicID"><pf-topicReadIndicator topic="@topic" pagedTopicContainer="@Model" imagePath="/lib/PopForums/" /></a>
					}
				</td>
				<td>
					<h2>@Html.ActionLink(topic.Title, "Topic", "Forum", new { id = topic.UrlName, page = 1 }, null) <span class="topicPreviewButton glyphicon glyphicon-chevron-right twirl" title="@PopForums.Resources.PreviewTopic" data-topicid="@topic.TopicID"></span></h2>
					<div id="TopicPreview@(topic.TopicID)" class="topicPreview"></div>
					<small class="pull-right forumDetails">
						@PopForums.Resources.StartedBy: @topic.StartedByName @PopForums.Resources.In @Model.ForumTitles[topic.ForumID] | @PopForums.Resources.Views: @topic.ViewCount | @PopForums.Resources.Replies: @topic.ReplyCount | @PopForums.Resources.Last: <span class="lastPostTime fTime" data-utc="@topic.LastPostTime.ToString("o")">@TimeFormattingService.GetFormattedTime(topic.LastPostTime, profile)</span> @PopForums.Resources.By @topic.LastPostName
					</small>
				</td>
			</tr>
		}
	</table>
}