@inject IUserRetrievalShim UserRetrievalShim
@inject ITimeFormattingService TimeFormattingService
@model List<FeedEvent>

@{
	ViewBag.Title = PopForums.Resources.ActivityFeed;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
	var profile = UserRetrievalShim.GetProfile();
}

@section HeaderContent {
	<script type="text/javascript" language="javascript">
		$(function () {
			PopForums.loadFeed();
		});
	</script>
}

<div>
	<h1>@PopForums.Resources.ActivityFeed</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="@ForumController.Name" asp-action="Recent" asp-route-pageNumber="">@PopForums.Resources.Recent</a></li>
		<li class="breadcrumb-item"><a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
	</ul>
</div>

<div id="FeedList">
@foreach (var item in Model)
{
	<div class="alert alert-light mt-2">
		<div class="feedItemText">@Html.Raw(item.Message)</div>
		<div class="text-right small fTime" data-utc="@item.TimeStamp.ToString("o")">@TimeFormattingService.GetFormattedTime(item.TimeStamp, profile)</div>
	</div>
}
	<div id="ActivityFeedTemplate" class="alert alert-light mt-2" style="display: none;">
		<div class="feedItemText"></div>
		<div class="text-right small fTime" data-utc=""></div>
	</div>
</div>