@inject IUserRetrievalShim UserRetrievalShim
@inject ITimeFormattingService TimeFormattingService
@model List<FeedEvent>

@{
	ViewBag.Title = PopForums.Resources.ActivityFeed;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
	var profile = UserRetrievalShim.GetProfile();
}

<h1>@PopForums.Resources.ActivityFeed</h1>
<ul id="TopBreadcrumb" class="breadcrumb sticky-top">
	<li class="breadcrumb-item"><a asp-controller="@ForumController.Name" asp-action="Recent" asp-route-pageNumber="">@PopForums.Resources.Recent</a></li>
	<li class="breadcrumb-item"><a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
	<li class="breadcrumb-item">@PopForums.Resources.ActivityFeed</li>
</ul>

<div id="FeedList">
	@foreach (var item in Model)
	{
		<div class="alert alert-light mt-2">
			<div class="feedItemText">@Html.Raw(item.Message)</div>
			<div class="text-end small fTime" data-utc="@item.TimeStamp.ToString("o")">@TimeFormattingService.GetFormattedTime(item.TimeStamp, profile)</div>
		</div>
	}
</div>

<div id="ActivityFeedTemplate" class="alert alert-light mt-2 hidden">
	<div class="feedItemText"></div>
	<div class="text-end small fTime" data-utc=""></div>
</div>

<pf-feedupdater templateid="ActivityFeedTemplate"></pf-feedupdater>