@model List<ServiceHeartbeat>

@{
    ViewBag.PageTitle = PopForums.Resources.Services;
    Layout = "~/Areas/Forums/Views/Admin/AdminMaster.cshtml";
}

<h1>@PopForums.Resources.Services</h1>

<table class="table table-hover">
	<tr>
		<th>@PopForums.Resources.Name</th>
		<th>Machine</th>
		<th>@PopForums.Resources.Last</th>
	</tr>
	@foreach (var service in Model)
	{
		<tr>
			<td>@service.ServiceName</td>
			<td>@service.MachineName</td>
			<td class="text-nowrap">@service.LastRun</td>
		</tr>
	}
</table>

<form asp-action="ServicesClearAll" method="post" role="form">
	<input type="submit" value="@PopForums.Resources.RemoveAll" class="btn btn-primary" />
</form>