@{
	ViewBag.Title = @PopForums.Resources.Login;
    Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
}

@section HeaderContent
{
	<script language="javascript" type="text/javascript">
		$(function () {
			$("#LoginButton").click(PopForums.processLoginExternal);
			$("#EmailLogin,#PasswordLogin").keydown(function (e) { if (e.keyCode == 13) PopForums.processLoginExternal(); });
		});
	</script>
}

<div>
	<h1>@PopForums.Resources.Login - @PopForums.Resources.ExternalLogins</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
	</ul>
</div>

<div class="row">
	<div class="col-6">
		<h2><a asp-controller="Account" asp-action="Create">@PopForums.Resources.CreateAnAccount</a></h2>
	</div>
	<div class="col-6">
		<h2>@PopForums.Resources.UseExistingForumAccount</h2>
		<div id="LoginResult" class="d-none alert alert-danger"></div>
		<div role="form">
			<div class="form-group">
				<label for="EmailLogin">@PopForums.Resources.Email</label>
				<input type="text" name="EmailLogin" id="EmailLogin" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="PasswordLogin">@PopForums.Resources.Password</label>
				<input type="password" name="PasswordLogin" id="PasswordLogin" class="form-control" />
			</div>
			<input id="LoginButton" type="button" value="@PopForums.Resources.Login" class="btn btn-primary" />
		</div>
		<input type="hidden" name="Referrer" id="Referrer" value="@((object)ViewBag.Referrer)" />
	</div>
</div>
