@inject IUserRetrievalShim UserRetrievalShim
@model CategorizedForumContainer
@{
	ViewBag.Title = Model.ForumTitle;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
	var user = UserRetrievalShim.GetUser();
}

@section HeaderContent{
	<link rel="sitemap" href="@ViewBag.SitemapUrl" type="application/xml" />
}

<h1>@Model.ForumTitle</h1>

@if (user != null)
{
	@if (!user.IsApproved)
	{ <p class="alert alert-warning"><a asp-controller="Account" asp-action="Verify">@PopForums.Resources.VerifyAccount</a></p> }

	<form asp-action="MarkAllForumsRead" asp-controller="Forum" asp-antiforgery="false">
		<input type="submit" value="@PopForums.Resources.MarkAllForumsRead" class="btn btn-primary" />
	</form>
}

<table class="table mt-3">
	<tbody>
	@foreach (var forum in Model.UncategorizedForums)
	{
		<tr data-forumid="@forum.ForumID">
			<td class="newIndicator"><a asp-controller="Forum" asp-action="Index" asp-route-urlName="@forum.UrlName"><pf-forumReadIndicator forum="@forum" categorizedForumContainer="@Model" /></a></td>
			<td class="w-100">
				<h2><a asp-controller="Forum" asp-action="Index" asp-route-urlName="@forum.UrlName">@forum.Title</a></h2>
				<p>@forum.Description</p>
				<small class="float-end text-secondary d-none d-sm-block">
					@PopForums.Resources.Topics: <span class="topicCount">@forum.TopicCount.ToString("N0")</span> | @PopForums.Resources.Posts: <span class="postCount">@forum.PostCount.ToString("N0")</span> | @PopForums.Resources.Last: <pf-formattedtime utctime="@forum.LastPostTime.ToString("o")"></pf-formattedtime> @PopForums.Resources.By <span class="lastPostName">@forum.LastPostName</span>
				</small>
			</td>
		</tr>
	}
	@foreach (var category in Model.CategoryDictionary)
	{
		<tr>
			<td colspan="2" class="bg-primary text-light">@category.Key.Title</td>
		</tr>
		foreach (var forum in category.Value)
		{
			<tr data-forumid="@forum.ForumID">
				<td class="newIndicator"><a asp-controller="Forum" asp-action="Index" asp-route-urlName="@forum.UrlName"><pf-forumReadIndicator forum="@forum" categorizedForumContainer="@Model" /></a></td>
				<td class="w-100">
					<h2><a asp-controller="Forum" asp-action="Index" asp-route-urlName="@forum.UrlName">@forum.Title</a></h2>
					<p>@forum.Description</p>
					<small class="float-end text-secondary d-none d-sm-block">
						@PopForums.Resources.Topics: <span class="topicCount">@forum.TopicCount.ToString("N0")</span> | @PopForums.Resources.Posts: <span class="postCount">@forum.PostCount.ToString("N0")</span> | @PopForums.Resources.Last: <pf-formattedtime utctime="@forum.LastPostTime.ToString("o")"></pf-formattedtime> @PopForums.Resources.By <span class="lastPostName">@forum.LastPostName</span>
					</small>
				</td>
			</tr>
		}
	}
	</tbody>
</table>

<pf-homeupdater></pf-homeupdater>

<div>
	<h3>@PopForums.Resources.UsersOnline</h3>
	<p>
		@PopForums.Resources.Total: @ViewBag.TotalUsers@foreach (var u in (List<PopForums.Models.User>)ViewBag.OnlineUsers)
		{<text>, </text><a asp-controller="Account" asp-action="ViewProfile" asp-route-id="@u.UserID">@u.Name</a>}
	</p>
	<p>@PopForums.Resources.TotalTopics: @ViewBag.TopicCount, @PopForums.Resources.TotalPosts: @ViewBag.PostCount, @PopForums.Resources.RegisteredUsers: @ViewBag.RegisteredUsers</p>
</div>
