@inject IUserRetrievalShim UserRetrievalShim
@inject ITimeFormattingService TimeFormattingService
@model CategorizedForumContainer
@{
	ViewBag.Title = Model.ForumTitle;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
	var user = UserRetrievalShim.GetUser();
	var profile = UserRetrievalShim.GetProfile();
}

@section HeaderContent{
	<link rel="sitemap" href="@ViewBag.SitemapUrl" type="application/xml" />
	<script type="text/javascript">
		$(function () {
			PopForums.homeSetup();
		});
	</script>
}

<h1>@Model.ForumTitle</h1>

@if (user != null)
{
	<form asp-action="MarkAllForumsRead" asp-controller="Forum" asp-antiforgery="false">
		<input type="submit" value="@PopForums.Resources.MarkAllForumsRead" class="btn btn-primary" />
	</form>
}

<table class="table mt-3">
	<tbody>
		@foreach (var forum in Model.UncategorizedForums)
		{
			<tr data-forumid="@forum.ForumID">
				<td class="newIndicator"><a asp-controller="Forum" asp-action="Index" asp-route-urlName="@forum.UrlName"><pf-forumReadIndicator forum="@forum" categorizedForumContainer="@Model" /></a></td>
				<td>
					<h2><a asp-controller="Forum" asp-action="Index" asp-route-urlName="@forum.UrlName">@forum.Title</a></h2>
					<p>@forum.Description</p>
					<small class="float-right text-secondary d-none d-sm-block">
						@PopForums.Resources.Topics: <span class="topicCount">@forum.TopicCount.ToString("N0")</span> | @PopForums.Resources.Posts: <span class="postCount">@forum.PostCount.ToString("N0")</span> | @PopForums.Resources.Last: <span class="lastPostTime fTime" data-utc="@forum.LastPostTime.ToString("o")">@TimeFormattingService.GetFormattedTime(forum.LastPostTime, profile)</span> @PopForums.Resources.By <span class="lastPostName">@forum.LastPostName</span>
					</small>
				</td>
			</tr>
		}
		@foreach (var category in Model.CategoryDictionary)
		{
			<tr class="bg-primary text-light">
				<td colspan="2">@category.Key.Title</td>
			</tr>
			foreach (var forum in category.Value)
			{
				<tr data-forumid="@forum.ForumID">
					<td class="newIndicator"><a asp-controller="Forum" asp-action="Index" asp-route-urlName="@forum.UrlName"><pf-forumReadIndicator forum="@forum" categorizedForumContainer="@Model" imagePath="/lib/PopForums/" /></a></td>
					<td>
						<h2><a asp-controller="Forum" asp-action="Index" asp-route-urlName="@forum.UrlName">@forum.Title</a></h2>
						<p>@forum.Description</p>
						<small class="float-right text-secondary d-none d-sm-block">
							@PopForums.Resources.Topics: <span class="topicCount">@forum.TopicCount.ToString("N0")</span> | @PopForums.Resources.Posts: <span class="postCount">@forum.PostCount.ToString("N0")</span> | @PopForums.Resources.Last: <span class="lastPostTime fTime" data-utc="@forum.LastPostTime.ToString("o")">@TimeFormattingService.GetFormattedTime(forum.LastPostTime, profile)</span> @PopForums.Resources.By <span class="lastPostName">@forum.LastPostName</span>
						</small>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<div>
	<h3>@PopForums.Resources.UsersOnline</h3>
	<p>
		@PopForums.Resources.Total: @ViewBag.TotalUsers@foreach (var u in (List<PopForums.Models.User>)ViewBag.OnlineUsers)
		{<text>, </text><a asp-controller="Account" asp-action="ViewProfile" asp-route-id="@u.UserID">@u.Name</a>}
	</p>
	<p>@PopForums.Resources.TotalTopics: @ViewBag.TopicCount, @PopForums.Resources.TotalPosts: @ViewBag.PostCount, @PopForums.Resources.RegisteredUsers: @ViewBag.RegisteredUsers</p>
</div>
