@using PopForums.Controllers
@model List<PopForums.Models.FeedEvent>

@{
	ViewBag.Title = PopForums.Resources.ActivityFeed;
	Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
}

@section HeaderContent {
	<script type="text/javascript" language="javascript">
		$(function () {
			PopForums.loadFeed();
		});
	</script>
}

<div id="TopBreadcrumb" class="navAbsolute">
	<h1>@PopForums.Resources.ActivityFeed</h1>
	<p>
		@Html.ActionLink(PopForums.Resources.Recent, "Recent", ForumController.Name, new { page = 1 }, null)
		^ @Html.ActionLink(PopForums.Resources.Forums, "Index", ForumHomeController.Name, null, null)
	</p>
</div>

<div id="FeedList">
@foreach (var item in Model)
{
	<div class="activityFeedEvent">
		<div class="feedItemText">@Html.Raw(item.Message)</div>
		<div class="forumStatData fTime" data-utc="@FormatTime8601(item.TimeStamp)">@FormatTime(item.TimeStamp)</div>
	</div>
}
	<div id="ActivityFeedTemplate" class="activityFeedEvent">
		<div class="feedItemText"></div>
		<div class="forumStatData fTime" data-utc=""></div>
	</div>
</div>