@model List<PopForums.Models.FeedEvent>

@{
	ViewBag.Title = PopForums.Resources.ActivityFeed;
	Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
}

@section HeaderContent {
	<script type="text/javascript" language="javascript">
		$(function () {
			PopForums.loadFeed();
		});
	</script>
}

<p class="breadcrumb">@Html.ActionLink(PopForums.Resources.Forums, "Index", PopForums.Controllers.ForumHomeController.Name, null, null) -&gt; </p>

<h1>@PopForums.Resources.ActivityFeed</h1>

<div id="FeedList">
@foreach (var item in Model)
{
	<div class="activityFeedEvent">
		<div class="feedItemText">@Html.Raw(item.Message)</div>
		<div class="forumStatData fTime" data-utc="@FormatTime8601(item.TimeStamp)">@FormatTime(item.TimeStamp)</div>
	</div>
}
	<div id="ActivityFeedTemplate" class="activityFeedEvent">
		<div class="feedItemText"></div>
		<div class="forumStatData fTime" data-utc=""></div>
	</div>
</div>