@model PostEdit

@{
    ViewBag.Title = PopForums.Resources.EditPost;
    Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
	var message = ViewBag.Message;
}

@section HeaderContent
{
    <script type="text/javascript" src="~/PopForums/lib/tinymce/tinymce.min.js" asp-append-version="true"></script>
}

<h1>@PopForums.Resources.EditPost</h1>

<form method="post">
	<div class="postForm" role="form" class="mb-3">
		@if (Model.IsFirstInTopic)
		{
			<div class="mb-3">
				<label for="Comment" class="form-label">@PopForums.Resources.Title</label>
				<input asp-for="Title" type="text" class="form-control" />
			</div>
		}
		<pf-fulltext formid="FullText" overridelistener="true" value="@Model.FullText"></pf-fulltext>
		<div class="form-check my-3">
			<label for="IncludeSignature" class="form-check-label">@PopForums.Resources.IncludeSignature</label>
			<input type="checkbox" asp-for="ShowSig" class="form-check-input" />
		</div>
		<div class="mb-3">
			<label for="Comment" class="form-label">@PopForums.Resources.CommentsOptional</label>
			<textarea asp-for="Comment" class="form-control" rows="3"></textarea>
		</div>
		<input type="hidden" asp-for="IsPlainText"/>
	</div>
	<input type="submit" value="@PopForums.Resources.Save" class="btn btn-primary" />
	<pf-previewbutton textSourceSelector=".postForm #FullText" isplaintextselector=".postForm #IsPlainText" labelText="@PopForums.Resources.Preview"></pf-previewbutton>
	@if (message != null) {<span class="alert alert-danger mt-3">@message</span>}
</form>