@inject IUserRetrievalShim UserRetrievalShim
@inject ITimeFormattingService TimeFormattingService
@model ForumTopicContainer
@{
	ViewBag.Title = Model.Forum.Title;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
	var user = UserRetrievalShim.GetUser();
	var profile = UserRetrievalShim.GetProfile();
}

@section HeaderContent{
@if (user != null) {
	<script src="~/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
}
<script type="text/javascript">
	$(function () {
		PopForums.topicListSetup(@Model.Forum.ForumID);
		@if (Model.PagerContext.PageIndex == 1)
		{
			<text>PopForums.forumListen(@Model.PagerContext.PageSize, @Model.Forum.ForumID);</text>
		}
	});
</script>
}

<h1>@Model.Forum.Title@if (Model.PermissionContext.UserCanPost){ <input type="button" value="@PopForums.Resources.PostNewTopic" id="NewTopicButton" class="btn btn-primary" />}</h1>

@if (Model.PermissionContext.UserCanPost)
{
	<div id="NewTopic" style="display: none;"></div>
}
else
{
	<p class="alert alert-warning">@Model.PermissionContext.DenialReason</p>
}

<ul id="TopBreadcrumb" class="breadcrumb sticky-top">
	<li class="breadcrumb-item"><a asp-controller="@ForumController.Name" asp-action="Recent" asp-route-pageNumber="">@PopForums.Resources.Recent</a></li>
	<li class="breadcrumb-item"><a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
	<li class="breadcrumb-item active">@Model.Forum.Title</li>
</ul>

<pf-pagerLinks controllerName="Forum" actionName="Index" pagerContext="@Model.PagerContext" class="pagination pagination-sm pagerLinks" moreTextClass="morePager" currentTextClass="currentPager active" />

@if (user != null)
{
	<form asp-action="MarkForumRead" asp-controller="Forum" asp-antiforgery="false" asp-route-id="@Model.Forum.ForumID">
		<input type="submit" value="@PopForums.Resources.MarkForumRead" class="btn btn-primary" />
	</form>
}

<table id="TopicList" class="table mt-3 table-hover">
	@foreach (var topic in Model.Topics)
	{
		<tr @if (topic.IsDeleted) { <text> class="bg-warning" </text>  } data-topicid="@topic.TopicID">
			<td class="newIndicator">
				@if (user == null)
				{
					<a asp-controller="Forum" asp-action="Topic" asp-route-id="@topic.UrlName"><pf-topicReadIndicator topic="@topic" pagedTopicContainer="@Model" /></a>
				}
				else
				{
					<a asp-controller="@ForumController.Name" asp-action="GoToNewestPost" asp-route-id="@topic.TopicID"><pf-topicReadIndicator topic="@topic" pagedTopicContainer="@Model" /></a>
				}
			</td>
			<td>
				<h2><a asp-controller="@ForumController.Name" asp-action="Topic" asp-route-id="@topic.UrlName" asp-route-pageNumber="">@topic.Title</a></h2>
				<small class="float-right d-none d-sm-block">
					@PopForums.Resources.StartedBy: @topic.StartedByName | @PopForums.Resources.Views: @topic.ViewCount.ToString("N0") | @PopForums.Resources.Replies: @topic.ReplyCount.ToString("N0") | @PopForums.Resources.Last: <span class="lastPostTime fTime" data-utc="@topic.LastPostTime.ToString("o")">@TimeFormattingService.GetFormattedTime(topic.LastPostTime, profile)</span> @PopForums.Resources.By @topic.LastPostName
				</small>
			</td>
		</tr>
	}
	<tr id="TopicTemplate" data-topicid="" class="hidden">
		<td class="newIndicator">
			<a href=""><span class="topicIndicator icon-file-text2 text-warning"></span></a>
		</td>
		<td>
			<h2><a class="titleLink" href=""></a></h2>
			<small class="float-right d-none d-sm-block">
				@PopForums.Resources.StartedBy: <span class="startedByName"></span> | @PopForums.Resources.Views: <span class="viewCount"></span> | @PopForums.Resources.Replies: <span class="replyCount"></span> | @PopForums.Resources.Last: <span class="lastPostTime fTime" data-utc=""></span> @PopForums.Resources.By <span class="lastPostName"></span>
			</small>
		</td>
	</tr>
</table>

<pf-pagerLinks controllerName="Forum" actionName="Index" pagerContext="@Model.PagerContext" class="pagination pagination-sm pagerLinks" moreTextClass="morePager" currentTextClass="currentPager active"/>
