@model NewPost

<pf-replyform templateID="ReplyForm"></pf-replyform>

<template id="ReplyForm">

<h2>@PopForums.Resources.CreateNewReply</h2>

	<div id="NewReply" class="postForm" role="form">
		<pf-fulltext formid="FullText" caller="none"></pf-fulltext>
		@Html.HiddenFor(p => p.Title)
		@Html.HiddenFor(p => p.IncludeSignature)
		@Html.HiddenFor(p => p.ItemID)
		@Html.HiddenFor(p => p.IsPlainText)
		@Html.HiddenFor(p => p.IsImageEnabled)
		@Html.HiddenFor(p => p.ParentPostID)
		<div class="my-3">
			<input type="button" value="@PopForums.Resources.SubmitReply" id="SubmitReply" class="btn btn-primary" />
			<pf-previewbutton textSourceSelector=".postForm #FullText" isplaintextselector=".postForm #IsPlainText" labelText="@PopForums.Resources.Preview"></pf-previewbutton>
			<span id="PostResponseMessage" class="alert alert-danger mt-3"></span>
		</div>
	
	</div>

</template>