@model NewPost
@{
	var subhead = PopForums.Resources.CreateNewReply;
	var replyButtonText = PopForums.Resources.SubmitReply;
	if (ViewBag.IsQA != null && (bool)ViewBag.IsQA)
	{
		subhead = PopForums.Resources.PostAnswer;
		replyButtonText = PopForums.Resources.SubmitAnswer;
	}	   
}

<h2>@subhead</h2>

<p><input type="button" value="@PopForums.Resources.ClickToLoadMorePosts" id="MorePostsBeforeReplyButton" style="visibility: hidden;" class="btn btn-primary" /></p>

<div class="postForm" role="form">
	@Html.HiddenFor(p => p.Title)
	@Html.TextAreaFor(p => p.FullText, new { @class = "form-control" })
	<div class="checkbox">
		<label for="IncludeSignature">
			@Html.CheckBoxFor(p => p.IncludeSignature)
			@PopForums.Resources.IncludeSignature
		</label>
	</div>
	@Html.HiddenFor(p => p.ItemID)
	@Html.HiddenFor(p => p.IsPlainText)
	@Html.HiddenFor(p => p.IsImageEnabled)
	@Html.HiddenFor(p => p.ParentPostID)
	<input type="button" value="@replyButtonText" id="SubmitReply" onclick="PopForums.postReply()" class="btn btn-primary" />
	<input type="button" value="@PopForums.Resources.Preview" id="PreviewButton" class="btn btn-primary" data-toggle="modal" data-target="#PreviewModal" />
	<div id="PostResponseMessage" class="alert alert-danger mt-3"></div>
</div>

<div class="modal fade" id="PreviewModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content" id="PreviewModalContent">
			<div class="modal-header">
				<h4 class="modal-title">@PopForums.Resources.Preview</h4>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
			</div>
			<div class="modal-body">
				<div id="ParsedFullText" class="postItem"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>