@model NewPost
@{
	var subhead = PopForums.Resources.CreateNewReply;
	var replyButtonText = PopForums.Resources.SubmitReply;
	if (ViewBag.IsQA != null && (bool)ViewBag.IsQA)
	{
		subhead = PopForums.Resources.PostAnswer;
		replyButtonText = PopForums.Resources.SubmitAnswer;
	}	   
}

<template id="ReplyForm">
	<h2>@subhead</h2>

	<p><pf-morepostsbeforereplybutton buttontext="@PopForums.Resources.ClickToLoadMorePosts" buttonclass="btn btn-primary"></pf-morepostsbeforereplybutton></p>

	<div class="postForm" role="form">
		@Html.HiddenFor(p => p.Title)
		<pf-fulltext formid="FullText"></pf-fulltext>
		<div class="form-check my-3">
			<label for="IncludeSignature" class="form-check-label">@PopForums.Resources.IncludeSignature</label>
			@Html.CheckBoxFor(p => p.IncludeSignature, new { @class = "form-check-input" })
		</div>
		@Html.HiddenFor(p => p.ItemID)
		@Html.HiddenFor(p => p.IsPlainText)
		@Html.HiddenFor(p => p.IsImageEnabled)
		@Html.HiddenFor(p => p.ParentPostID)
		<input type="button" value="@replyButtonText" id="SubmitReply" class="btn btn-primary" />
		<pf-previewbutton textSourceSelector=".postForm #FullText" isplaintextselector=".postForm #IsPlainText" labelText="@PopForums.Resources.Preview"></pf-previewbutton>
		<div id="PostResponseMessage" class="alert alert-danger mt-3"></div>
	</div>
</template>

<pf-replyform templateid="ReplyForm"></pf-replyform>