@model NewPost

<h2>@PopForums.Resources.CreateNewTopic</h2>

<div class="postForm" role="form">
	<div class="form-group">
		@Html.TextBoxFor(p => p.Title, new { @class = "form-control", placeholder = PopForums.Resources.Title })
	</div>
	@Html.TextAreaFor(p => p.FullText, new { @class = "form-control" })
	<div class="checkbox">
		<label for="IncludeSignature">
			@Html.CheckBoxFor(p => p.IncludeSignature)
			@PopForums.Resources.IncludeSignature
		</label>
	</div>
	@Html.HiddenFor(p => p.ItemID)
	@Html.HiddenFor(p => p.IsPlainText)
	@Html.HiddenFor(p => p.IsImageEnabled)
	<input type="button" value="@PopForums.Resources.SubmitNewTopic" id="SubmitNewTopic" onclick="PopForums.postNewTopic()" class="btn btn-primary" />
	<input type="button" value="@PopForums.Resources.Preview" id="PreviewButton" class="btn btn-primary" data-toggle="modal" data-target="#PreviewModal" />
	<p id="PostResponseMessage" class="alert alert-danger"></p>
</div>

<div class="modal fade" id="PreviewModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content" id="PreviewModalContent">
			<div class="modal-header">
				<h4 class="modal-title">@PopForums.Resources.Preview</h4>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
			</div>
			<div class="modal-body">
				<div id="ParsedFullText" class="postItem"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
