@inject ITimeFormattingService TimeFormattingService
@inject IUserRetrievalShim UserRetrievalShim
@model PostItemContainer
@{
	var user = UserRetrievalShim.GetUser();
	string deleteLink;
	if (Model.Post.IsDeleted)
	{ deleteLink = PopForums.Resources.Undelete; }
	else if (Model.Post.IsFirstInTopic)
	{ deleteLink = PopForums.Resources.DeleteTopic; }
	else
	{ deleteLink = PopForums.Resources.Delete; }
	var hideVanity = false;
	if (Model.Profile != null)
	{ hideVanity = Model.Profile.HideVanity; }
}

<a name="@Model.Post.PostID"></a>
<div class="@(Model.Post.IsDeleted ? "bg-warning " : "")postItem" data-postid="@Model.Post.PostID" data-userid="@Model.Post.UserID">
	<div class="postUserData bg-primary rounded mb-2 px-3 py-1">
		<h3 class="postNameLink twirl text-light">@Model.Post.Name</h3>
		<div class="miniProfileBox bg-light text-dark rounded px-3 py-1 mb-2"></div>
		<small class="postTime text-right text-light">
			@if (Model.User != null && Model.User.IsInRole(PermanentRoles.Moderator))
			{
				@:IP: @Model.Post.IP -
			}
			<span class="fTime" data-utc="@Model.Post.PostTime.ToString("o")">@TimeFormattingService.GetFormattedTime(Model.Post.PostTime, Model.Profile)</span>
		</small>
	</div>
	@if (!hideVanity && Model.Avatars.ContainsKey(Model.Post.UserID))
	{
		<img src="@Url.Action("Avatar", "Image", new {id = (Model.Avatars)[Model.Post.UserID]})" alt="@String.Format(PopForums.Resources.NameAvatar, Model.Post.Name)" class="avatar float-right ml-3 mb-3 d-none d-sm-block" />
	}

	@Html.Raw(Model.Post.FullText)
	@if (Model.Post.IsEdited && Model.Post.LastEditTime.HasValue)
	{
		<small>@String.Format(PopForums.Resources.NameLastEdit, Model.Post.LastEditName), <span class="fTime" data-utc="@Model.Post.LastEditTime.Value.ToString("o")">@TimeFormattingService.GetFormattedTime(Model.Post.LastEditTime.Value, Model.Profile)</span></small>
	}

	@if (Model.Post.ShowSig && !hideVanity && (Model.Signatures).ContainsKey(Model.Post.UserID))
	{
		<hr />
		<div class="text-secondary">@Html.Raw((Model.Signatures)[Model.Post.UserID])</div>
	}
	<div class="postToolContainer">
		<div class="voteCount badge badge-primary">@await Html.PartialAsync("Votes.cshtml", Model.Post.Votes)</div>
		<ul class="postTools list-inline">
			@if (Model.User != null && Model.User.UserID != Model.Post.UserID)
			{
				if (Model.VotedPostIDs.Contains(Model.Post.PostID))
				{
					<li class="list-inline-item">@PopForums.Resources.Voted</li>
				}
				else
				{
					<li class="voteUp btn-link list-inline-item">Vote up</li>}
			}
			<li class="list-inline-item">@Html.ActionLink(PopForums.Resources.Link, "PostLink", "Forum", new { id = Model.Post.PostID }, null)</li>
			@if (user != null && Model.Topic != null && Model.Topic.IsClosed == false)
			{
				<li class="list-inline-item"><input type="button" class="replyLink btn-link list-inline-item" value="@PopForums.Resources.Reply" /></li>
				<li class="list-inline-item"><input type="button" class="quoteLink btn-link list-inline-item" value="@PopForums.Resources.Quote" /></li>
			}
			@if (Model.User.IsPostEditable(Model.Post))
			{
				<li class="list-inline-item">@Html.ActionLink(PopForums.Resources.Edit, "Edit", "Forum", new { id = Model.Post.PostID }, null)</li>
				if (Model.Post.IsDeleted)
				{
					<li class="list-inline-item">
						<form asp-action="UndeletePost" asp-controller="Moderator" asp-antiforgery="false" asp-route-id="@Model.Post.PostID" class="deletePostForm d-inline-block"><input type="submit" value="@PopForums.Resources.Undelete" class="btn-link" /></form>
					</li>
				}
				else
				{
					<li class="list-inline-item">
						<form asp-action="DeletePost" asp-controller="Forum" asp-antiforgery="false" asp-route-id="@Model.Post.PostID" class="deletePostForm d-inline-block"><input type="submit" value="@deleteLink" class="btn-link" /></form>
					</li>
				}
			}
			@if (Model.Post.IsEdited && Model.User != null && Model.User.IsInRole(PermanentRoles.Moderator))
			{
				<li class="list-inline-item"><input data-postid="@Model.Post.PostID" class="btn-link postModLogButton" type="button" value="@PopForums.Resources.ModerationLog" /></li>
			}
		</ul>
		<div class="moderationLog rounded my-3 px-3 py-1"></div>
	</div>
</div>