@inject IUserRetrievalShim UserRetrievalShim
@model List<PrivateMessage>
@{
    var user = UserRetrievalShim.GetUser();
	ViewBag.Title = PopForums.Resources.PrivateMessages + " - " + PopForums.Resources.Archived;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
}

<div>
	<h1>@PopForums.Resources.Archived</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@PopForums.Resources.Forums</a></li>
		<li class="breadcrumb-item"><a asp-action="Index">@PopForums.Resources.PrivateMessages</a></li>
	</ul>
</div>

<pf-pagerlinks controllerName="PrivateMessages" actionName="Archive" pagerContext="@ViewBag.PagerContext" class="pagination pagination-sm pagerLinks" moreTextClass="morePager" currentTextClass="currentPager active" />

<table class="table mt-3 table-hover">
	<tbody>
	@foreach (var pm in Model)
	{
		<tr>
			<td class="newIndicator">
				<a asp-action="View" asp-route-id="@pm.PMID"><pf-pmReadIndicator privateMessage="@pm"/></a>
			</td>
			<td>
				<form asp-action="UnarchivePM" asp-route-id="@pm.PMID" method="post"><input type="submit" value="@PopForums.Resources.Unarchive" class="btn btn-primary" /></form>
			</td>
			<td class="w-100">
				<h2><a asp-action="View" asp-route-id="@pm.PMID">@PrivateMessage.GetUserNames(pm, user.UserID)</a></h2>
				<small class="float-end d-none d-sm-block text-secondary"><pf-formattedtime utctime="@pm.LastPostTime.ToString("o")"></pf-formattedtime></small>
			</td>
		</tr>
	}
	</tbody>
</table>