@{
	ViewBag.Title = PopForums.Resources.NewPM;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
}

@section HeaderContent
{
	<script type="text/javascript" language="javascript">
		$(function () {
			var toText = $("#ToText");
			var toList = $("#ToList");
			toText.on("keyup", function() {
				var q = $(this).val();
				if (q.length > 1) {
					$.getJSON(PopForums.areaPath + "/PrivateMessages/GetNames", { id: q })
						.done(function (data) {
						toList.empty();
						$.each(data, function(i, item) {
							toList.append('<li><a href="#" data-userID="' + item.userID + '" class="alert toItem">' + item.value + '</a></li>');
						});
					});
				} else {
					toList.empty();
				}
			});

			$(document).on("click", ".toItem", function () {
				var item = $(this);
				var userID = item.attr("data-userID");
				var label = '<div data-userID="' + userID + '" class="badge badge-primary toLabel">' + item[0].innerHTML + ' <span class="icon-cancel-circle toLabelX"></span></div>';
				$("#PMToBox").append(label);
				toList.empty();
				toText.val("");
				$("#ToModal").modal("hide");
				serializeIDs();
			});

			$(document).on("click", ".toLabelX", function () {
				$(this).parent().remove();
				serializeIDs();
			});

			$("#ToModal").on("shown.bs.modal", function() {
				$("#ToText").focus();
			});

			serializeIDs();
		});

		function serializeIDs() {
			var items = $("#PMToBox div");
			var ids = [];
			items.each(function () { ids.push($(this).attr("data-userID")); });
			$("#UserIDs").val(ids);
		}
	</script>
}

<div>
	<h1>@PopForums.Resources.NewPM</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@PopForums.Resources.Forums</a></li>
		<li class="breadcrumb-item"><a asp-action="Index">@PopForums.Resources.PrivateMessages</a></li>
	</ul>
</div>

@if (ViewBag.Warning != null)
{ <p class="alert alert-danger">@ViewBag.Warning</p> }

<div class="modal fade" id="ToModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">@PopForums.Resources.To</h4>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
			</div>
			<div class="modal-body">
				<input id="ToText" type="text" class="form-control" placeholder="@PopForums.Resources.Search" />
				<div id="ToResultList">
					<ul id="ToList" class="list-unstyled"></ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<form method="post">
	<input type="hidden" id="UserIDs" name="UserIDs"/>
	<div role="form">
		<div class="form-group">
			<label><input type="button" class="btn btn-primary" data-toggle="modal" data-target="#ToModal" value="@PopForums.Resources.To"/></label>
			<div id="PMToBox" class="form-control">
				@if (ViewBag.TargetUserID != null)
				{
					<div data-userid="@ViewBag.TargetUserID" class="badge badge-primary toLabel">@ViewBag.TargetUserName <span class="icon-cancel-circle toLabelX"></span></div>
				}
			</div>
		</div>
		<div class="form-group">
			<label for="Subject">@PopForums.Resources.Subject</label>
			<input type="text" id="Subject" name="Subject" class="form-control"/>
		</div>
		<div class="form-group">
			<label for="FullText">@PopForums.Resources.Message</label>
			<textarea id="FullText" name="FullText" class="form-control"></textarea>
		</div>
		<input id="SendButton" type="submit" value="@PopForums.Resources.Send" class="btn btn-primary"/>
	</div>
</form>