@{
	ViewBag.Title = PopForums.Resources.NewPM;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
}

@section HeaderContent
{
<script type="text/javascript" language="javascript">
	PopForums.Ready(() => {
		let toText = document.querySelector("#ToText");
		let toList = document.querySelector("#ToList");
		toText.addEventListener("keyup", () => {
			let q = toText.value;
			if (q.length > 1) {
				fetch(PopForums.AreaPath + "/PrivateMessages/GetNames?id=" + q)
					.then(response => response.json())
					.then(result => {
						toList.innerHTML = "";
						result.forEach(item => {
							let ids = document.getElementById("UserIDs").value;
							let idArray = ids.split(",");
							if (!idArray.includes(item.userID.toString())) {
								let t = document.createElement("template");
								t.innerHTML = '<li><a href="#" data-userID="' + item.userID + '" class="toItem">' + item.value + '</a></li>';
								toList.append(t.content.firstChild);
                            }
						});
					});
			} else
				toList.innerHTML = "";
		});

		document.addEventListener("click", e => {
			if (event.target.classList.contains("toItem")) {
				let item = e.target;
				let userID = item.getAttribute("data-userID");
				let ids = document.getElementById("UserIDs").value;
				let idArray = ids.split(",");
				if (idArray.includes(userID))
					return;
				let label = '<div data-userID="' + userID + '" class="badge bg-primary toLabel">' + item.innerHTML + ' <span class="icon icon-trash3-fill toLabelX"></span></div>';
				let t = document.createElement("template");
				t.innerHTML = label;
				document.querySelector("#PMToBox").append(t.content.firstChild);
				toList.innerHTML = "";
				toText.value = "";
				let modal = bootstrap.Modal.getInstance(document.getElementById("ToModal"));
				modal.hide();
				serializeIDs();
			}
		});

		document.addEventListener("click", e => {
			if (event.target.classList.contains("toLabelX")) {
				event.target.parentElement.remove();
				serializeIDs();
			}
		});

		let modal = document.getElementById('ToModal');
		modal.addEventListener("shown.bs.modal", () => {
			document.querySelector("#ToText").focus();
		});
		
		serializeIDs();

            let textBox = document.getElementById("NewMessage");
			textBox.addEventListener("keydown", (e) => {
				if (e.key === "Enter" && !e.shiftKey) {
					e.preventDefault();
	                    if (textBox.value.trim().length > 0 && document.querySelector("#UserIDs").value.length > 0)
						document.forms["NewPMForm"].submit();
				}
		});
	});

	function serializeIDs() {
		var items = document.querySelectorAll("#PMToBox div");
		var ids = [];
		items.forEach(item => { ids.push(item.getAttribute("data-userID")); });
		document.querySelector("#UserIDs").value = ids;
	}
</script>
}

<div>
	<h1>@PopForums.Resources.NewPM</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@PopForums.Resources.Forums</a></li>
		<li class="breadcrumb-item"><a asp-action="Index">@PopForums.Resources.PrivateMessages</a></li>
	</ul>
</div>

@if (ViewBag.Warning != null)
{ <p class="alert alert-danger">@ViewBag.Warning</p> }

<div class="modal fade" id="ToModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">@PopForums.Resources.To</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<input id="ToText" type="text" class="form-control" placeholder="@PopForums.Resources.Search" />
				<div id="ToResultList">
					<ul id="ToList" class="list-unstyled"></ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<form id="NewPMForm" method="post">
	<input type="hidden" id="UserIDs" name="UserIDs"/>
	<div role="form">
		<div class="mb-3">
			<label class="form-label"><input type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ToModal" value="@PopForums.Resources.To"/></label>
			<div id="PMToBox">
				@if (ViewBag.TargetUserID != null)
				{
                    <div data-userid="@ViewBag.TargetUserID" class="badge bg-primary toLabel">@ViewBag.TargetUserName <span class="icon icon-trash3-fill toLabelX"></span></div>
				}
			</div>
		</div>
		<div class="input-group mb-3">
            <textarea class="form-control" id="NewMessage" name="FullText"></textarea>
            <button class="btn btn-primary" type="submit">@PopForums.Resources.Send</button>
		</div>
	</div>
</form>