@inject IUserRetrievalShim UserRetrievalShim
@model List<PrivateMessage>
@{
	var user = UserRetrievalShim.GetUser();
	ViewBag.Title = PopForums.Resources.PrivateMessages;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
}

<div>
	<h1>@PopForums.Resources.PrivateMessages</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li><a asp-controller="Home" asp-action="Index" >@PopForums.Resources.Forums</a></li>
	</ul>
</div>

<p><a asp-action="Create">@PopForums.Resources.SendPM</a></p>

<pf-pagerlinks controllerName="PrivateMessages" actionName="Index" pagerContext="@(PagerContext)ViewBag.PagerContext" class="pagination pagination-sm pagerLinks" moreTextClass="morePager" currentTextClass="currentPager active"/>

<table class="table mt-3 table-hover">
	@foreach (var pm in Model)
	{
		<tr>
			<td class="newIndicator">
				<a asp-action="View" asp-route-id="@pm.PMID"><pf-pmReadIndicator privateMessage="@pm" /></a>
			</td>
			<td class="text-center">
				<form asp-action="ArchivePM" asp-route-id="@pm.PMID"><input type="submit" value="@PopForums.Resources.Archive" class="btn btn-primary" /></form>
			</td>
			<td>@PrivateMessage.GetUserNames(pm, user.UserID)</td>
			<td><small><pf-formattedtime utctime="@pm.LastPostTime.ToString("o")"></pf-formattedtime></small></td>
		</tr>
	}
</table>
<p><a asp-action="Archive">@PopForums.Resources.ViewArchivedMessages</a></p>