@model List<PrivateMessage>
@inject IUserRetrievalShim UserRetrievalShim
@inject ITimeFormattingService TimeFormattingService
@{
	ViewBag.Title = PopForums.Resources.PrivateMessages;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
	var profile = UserRetrievalShim.GetProfile();
}

@section HeaderContent {
	<script type="text/javascript" language="javascript">
		$(function () {
			PopForums.startTimeUpdater();
		});
	</script>
}
<div>
	<h1>@PopForums.Resources.PrivateMessages</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li><span class="glyphicon glyphicon-chevron-up"></span> <a asp-controller="Home" asp-action="Index" >@PopForums.Resources.Forums</a></li>
	</ul>
</div>

<p><a asp-action="Create">@PopForums.Resources.SendPM</a></p>

<pf-pagerlinks controllerName="PrivateMessages" actionName="Index" pagerContext="@(PagerContext)ViewBag.PagerContext" class="pagination pagination-sm pagerLinks" moreTextClass="morePager" currentTextClass="currentPager active"/>

<table class="table mt-3 table-hover">
	@foreach (var pm in Model)
	{
		<tr>
			<td class="newIndicator">
				<a asp-action="View" asp-route-id="@pm.PMID"><pf-pmReadIndicator privateMessage="@pm" /></a>
			</td>
			<td class="text-center">
				<form asp-action="ArchivePM" asp-route-id="@pm.PMID"><input type="submit" value="@PopForums.Resources.Archive" class="btn btn-primary" /></form>
			</td>
			<td><a asp-action="View" asp-route-id="@pm.PMID">@pm.Subject</a></td>
			<td>@pm.UserNames</td>
			<td><small class="fTime" data-utc="@pm.LastPostTime.ToString("o")">@TimeFormattingService.GetFormattedTime(pm.LastPostTime, profile)</small></td>
		</tr>
	}
</table>
<p><a asp-action="Archive">@PopForums.Resources.ViewArchivedMessages</a></p>