@inject IUserRetrievalShim UserRetrievalShim
@model PrivateMessageView
@{
	var user = UserRetrievalShim.GetUser();
	var title = PrivateMessage.GetUserNames(Model.PrivateMessage, user.UserID);
	ViewBag.Title = PopForums.Resources.PrivateMessages + " - " + title;
    Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
    var pmSerialized = JsonSerializer.Serialize(Model.State, new JsonSerializerOptions { PropertyNamingPolicy = JsonNamingPolicy.CamelCase });
}

@section HeaderContent {
	<script type="text/javascript">
        PopForums.currentPmState = Object.assign(new PopForums.PrivateMessageState(), @Html.Raw(pmSerialized));
        PopForums.currentPmState.setupPm();
	</script>
}

<div class="vh-100 d-flex flex-column mb-3">

<div>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@PopForums.Resources.Forums</a></li>
		<li class="breadcrumb-item"><a asp-action="Index">@PopForums.Resources.PrivateMessages</a></li>
	</ul>
	<h2>@title</h2>
</div>

<div class="overflow-auto my-3 px-3">
    <div id="PostStream"></div>
</div>

<div>
	<pf-pmform></pf-pmform>

	<form asp-action="ArchivePM" asp-route-id="@Model.PrivateMessage.PMID">
		<p><input type="submit" value="@PopForums.Resources.Archive" class="btn btn-primary" /></p>
	</form>
</div>

</div>
