@using PopForums.Controllers
@{
    ViewBag.Title = PopForums.Resources.ForgotPassword;
    Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
}

<div>
	<h1>@PopForums.Resources.ForgotPassword</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li><span class="glyphicon glyphicon-chevron-up"></span> @Html.ActionLink(PopForums.Resources.Forums, "Index", ForumHomeController.Name, null, null)</li>
	</ul>
</div>

<p>@PopForums.Resources.ForgotInstructions</p>

@using (Html.BeginForm("Forgot", "Account", FormMethod.Post, new { role = "form" }))
{
	<div class="form-group">
		@Html.TextBox("Email", null, new { @class = "form-control" })
	</div>
	<input type="submit" value="@PopForums.Resources.SendEmailButton" class="btn btn-primary" />
	if (ViewBag.Result != null) { <span class="bg-danger callout">@ViewBag.Result</span> }
}


