@using PopForums.Controllers
@model PopForums.Models.PasswordResetContainer

@{
    ViewBag.Title = PopForums.Resources.PasswordReset;
    Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
}

<div id="TopBreadcrumb" class="navAbsolute">
	<h1>@PopForums.Resources.PasswordReset</h1>
	<p>
		^ @Html.ActionLink(PopForums.Resources.Forums, "Index", ForumHomeController.Name, null, null)
	</p>
</div>

@if (Model.IsValidUser)
{
	using(Html.BeginForm()){
		<table>
			<tr>
				<td>@PopForums.Resources.PasswordNew:</td>
				<td>
					@Html.PasswordFor(m => m.Password)
					@Html.ValidationMessageFor(m => m.Password)
				</td>
			</tr>
			<tr>
				<td>@PopForums.Resources.PasswordNewRetype:</td>
				<td>
					@Html.PasswordFor(m => m.PasswordRetype)
					@Html.ValidationMessageFor(m => m.PasswordRetype)
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="@PopForums.Resources.ChangePassword" /></td>
			</tr>
		</table>
	}
}
else
{
	<p>@PopForums.Resources.PasswordResetLinkInvalid @Html.ActionLink(PopForums.Resources.ForgotPassword, "Forgot", "Account", null, null).</p>
}