@model PopForums.Models.PasswordResetContainer
@{
	ViewBag.Title = PopForums.Resources.PasswordReset;
	Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.mobile.cshtml";
}

@if (Model.IsValidUser)
{
	using (Html.BeginForm())
	{
		<p>
			<label for="Password" class="pf-label">@PopForums.Resources.PasswordNew</label>
			<input id="Password" name="Password" type="password" class="pf-text" />
		</p>
		<p>
			<label for="PasswordRetype" class="pf-label">@PopForums.Resources.PasswordNewRetype</label>
			<input id="PasswordRetype" name="PasswordRetype" type="password" class="pf-text" />
		</p>
		<p><input type="submit" value="@PopForums.Resources.ChangePassword" class="pf-button" /></p>
	}
}
else
{
	<p>@PopForums.Resources.PasswordResetLinkInvalid @Html.ActionLink(PopForums.Resources.ForgotPassword, "Forgot", "Account", null, null).</p>
}