@model PopForums.Models.UserEditSecurity

@{
	ViewBag.Title = PopForums.Resources.Account + " - " + PopForums.Resources.ChangeYourEmailPassword;
    Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.mobile.cshtml";
}

<p>
    @Html.ActionLink(PopForums.Resources.EditYourProfile, "EditProfile", "Account") | 
    @Html.ActionLink(PopForums.Resources.ExternalLogins, "ExternalLogins", "Account")
</p>

@using(Html.BeginForm("ChangePassword", "Account")) {
	<h2>@PopForums.Resources.ChangePassword</h2>	

	<p class="warning">@ViewBag.PasswordResult</p>
	
	<p>
		<label for="OldPassword" class="pf-label">@PopForums.Resources.PasswordOld</label>
		<input id="OldPassword" name="OldPassword" type="password" class="pf-text" />
	</p>
	<p>
		<label for="NewPassword" class="pf-label">@PopForums.Resources.PasswordNew</label>
		<input id="NewPassword" name="NewPassword" type="password" class="pf-text" />
	</p>
	<p>
		<label for="NewPasswordRetype" class="pf-label">@PopForums.Resources.PasswordNewRetype</label>
		<input id="NewPasswordRetype" name="NewPasswordRetype" type="password" class="pf-text" />
	</p>

	<input type="submit" value="@PopForums.Resources.ChangePassword" class="pf-button" />
}

<h2>@PopForums.Resources.ChangeEmail</h2>

<p>@PopForums.Resources.ChangeEmailConsequence</p>

<p class="warning">@ViewData["EmailResult"]</p>

@using (Html.BeginForm("ChangeEmail", "Account"))
{
	<p>
		<label for="NewEmail" class="pf-label">@PopForums.Resources.EmailNew</label>
		<input id="NewEmail" name="NewEmail" type="text" class="pf-text" />
	</p>
	<p>
		<label for="NewEmailRetype" class="pf-label">@PopForums.Resources.EmailNewRetype</label>
		<input id="NewEmailRetype" name="NewEmailRetype" type="text" class="pf-text" />
	</p>

	<input type="submit" value="@PopForums.Resources.ChangeEmailButton" class="pf-button" />
}