@model PagedTopicContainer
@inject IUserRetrievalShim UserRetrievalShim
@{
	ViewBag.Title = PopForums.Resources.Search;
	Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
	var routeParameters = new Dictionary<string, object> { { "query", ViewBag.Query }, { "searchType", ViewBag.SearchType } };
	var user = UserRetrievalShim.GetUser();
}

<h1>@PopForums.Resources.Search</h1>

<ul id="TopBreadcrumb" class="breadcrumb sticky-top">
	<li class="breadcrumb-item"><a asp-controller="@ForumController.Name" asp-action="Recent" asp-route-pageNumber="">@PopForums.Resources.Recent</a></li>
	<li class="breadcrumb-item"><a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
	<li class="breadcrumb-item active">@PopForums.Resources.Search</li>
</ul>

<div id="SearchForm">
	<form asp-action="Process" method="post" role="form" class="mb-4" asp-antiforgery="false">
		<div class="row mb-3">
			<div class="col-7">
				<input type="text" name="Query" id="Query" class="form-control me-1" value="@(ViewBag.Query)" />
			</div>
			<div class="col-3">
				@Html.DropDownList("SearchType", (SelectList)ViewBag.SearchTypes, new { @class = "form-select me-1 " })
			</div>
			<div class="col-2">
				<input type="submit" value="@PopForums.Resources.Search" class="btn btn-primary" />
			</div>
		</div>
	</form>
</div>

<pf-pagerlinks actionName="Result" controllerName="Search" pagerContext="@Model.PagerContext" class="pagination pagination-sm pagerLinks" moreTextClass="morePager" currentTextClass="currentPager active" routeParameters="@routeParameters" />

@if ((bool) ViewBag.IsError)
{
	<div class="alert alert-danger">@PopForums.Resources.SearchError</div>
}

@if (Model.Topics.Count == 0 && !String.IsNullOrEmpty(ViewBag.Query))
{
	<p>@PopForums.Resources.NoResults</p>
}
else
{
	<table id="TopicList" class="table mt-3 table-hover">
		@foreach (var topic in Model.Topics)
		{
			<tr @if (topic.IsDeleted) { <text> class="bg-warning" </text>   }>
				<td class="newIndicator">
					@if (user == null)
					{
						<a asp-controller="Forum" asp-action="Topic" asp-route-id="@topic.UrlName"><pf-topicReadIndicator topic="@topic" pagedTopicContainer="@Model" /></a>
					}
					else
					{
						<a asp-controller="@ForumController.Name" asp-action="GoToNewestPost" asp-route-id="@topic.TopicID"><pf-topicReadIndicator topic="@topic" pagedTopicContainer="@Model" /></a>
					}
				</td>
				<td>
					<h2>@Html.ActionLink(topic.Title, "Topic", "Forum", new { id = topic.UrlName, pageNumber = 1 }, null)</h2>
					<small class="float-end d-none d-sm-block text-secondary">
						@PopForums.Resources.StartedBy: @topic.StartedByName @PopForums.Resources.In @Model.ForumTitles[topic.ForumID] | @PopForums.Resources.Views: @topic.ViewCount | @PopForums.Resources.Replies: @topic.ReplyCount | @PopForums.Resources.Last: <pf-formattedtime utctime="@topic.LastPostTime.ToString("o")"></pf-formattedtime> @PopForums.Resources.By @topic.LastPostName
					</small>
				</td>
			</tr>
		}
	</table>
}