@using PopForums.Configuration
@inject IUserRetrievalShim UserRetrievalShim
@inject ISettingsManager SettingsManager
@{
	var user = UserRetrievalShim.GetUser();
}

<template id="SearchNavTemplate">
	<div class="nav-item dropdown">
		<a class="nav-link p-2" data-bs-toggle="dropdown" href="#" id="SearchDropDown" title="@PopForums.Resources.Search"><span class="icon icon-search"></span></a>
		<div class="dropdown-menu dropdown-menu-end" role="menu">
			<form asp-controller="Search" asp-action="Result" asp-antiforgery="false" method="post" class="" role="form">
				<input type="search" class="form-control w-auto mx-2" placeholder="@PopForums.Resources.Search" id="query" name="query">
			</form>
		</div>
	</div>
</template>

<div class="row mb-3">
	<nav class="navbar navbar-expand bg-light px-3">
		<div class="d-flex order-2">
			<pf-searchnavform templateid="SearchNavTemplate" textboxid="query" dropdownid="SearchDropDown"></pf-searchnavform>
		</div>
		<div id="AccountBox" class="ms-auto">
			<ul class="navbar-nav ms-auto">
				@if (user == null)
				{
					<li class="nav-item"><a asp-controller="@AccountController.Name" asp-action="Create" asp-route-area="Forums" class="nav-link">@PopForums.Resources.CreateAnAccount</a></li>
					<li class="nav-item"><a asp-controller="@AccountController.Name" asp-action="Login" asp-route-area="Forums" class="nav-link">@PopForums.Resources.Login</a></li>
					if (!SettingsManager.Current.IsPrivateForumInstance)
					{
						<li class="nav-item"><a asp-controller="@ForumController.Name" asp-action="Recent" asp-route-pageNumber="" asp-route-area="Forums" class="nav-link" title="@PopForums.Resources.Recent"><span class="icon icon-clock-history"></span></a></li>
					}
				}
				else
				{
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" title="@user.Name"><span class="icon icon-person-fill"></span></a>
						<div class="dropdown-menu" role="menu">
							<a class="dropdown-item disabled">@user.Name</a>
							<a asp-controller="@AccountController.Name" asp-action="ViewProfile" asp-route-id="@user.UserID" asp-route-area="Forums" class="dropdown-item">@PopForums.Resources.Profile</a>
							<a asp-controller="@SubscriptionController.Name" asp-action="Topics" asp-route-pageNumber="" asp-route-area="Forums" class="dropdown-item">@PopForums.Resources.Subscriptions</a>
							<a asp-controller="@FavoritesController.Name" asp-action="Topics" asp-route-pageNumber="" asp-route-area="Forums" class="dropdown-item">@PopForums.Resources.Favorites</a>
							<div class="dropdown-divider"></div>
							<a asp-controller="@AccountController.Name" asp-action="EditProfile" asp-route-area="Forums" class="dropdown-item">@PopForums.Resources.EditProfile</a>
							<a asp-controller="@AccountController.Name" asp-action="Security" asp-route-area="Forums" class="dropdown-item">@PopForums.Resources.ChangeYourEmailPassword</a>
							<a asp-controller="@AccountController.Name" asp-action="ManagePhotos" asp-route-area="Forums" class="dropdown-item">@PopForums.Resources.ManageYourPhotos</a>
							<a asp-controller="@AccountController.Name" asp-action="ExternalLogins" asp-route-area="Forums" class="dropdown-item">@PopForums.Resources.ExternalLogins</a>
							@if (user.IsInRole(PermanentRoles.Admin))
							{
								<div class="dropdown-divider"></div>
								<a asp-controller="@AdminController.Name" asp-action="App" asp-route-area="Forums" class="dropdown-item">@PopForums.Resources.PopForumsAdmin</a>
							}
							<div class="dropdown-divider"></div>
							<a asp-controller="@IdentityController.Name" asp-action="Logout" asp-route-area="Forums" class="dropdown-item">@PopForums.Resources.Logout</a>
						</div>
					</li>
					<li class="nav-item"><a asp-controller="@ForumController.Name" asp-action="Recent" asp-route-pageNumber="" asp-route-area="Forums" class="nav-link" title="@PopForums.Resources.Recent"><span class="icon icon-clock-history"></span></a></li>
					<li class="nav-item"><a class="nav-link" asp-controller="@PrivateMessagesController.Name" asp-action="Index" asp-route-pageNumber="" asp-route-area="Forums" title="@PopForums.Resources.PrivateMessages"><span class="icon icon-envelope"></span> <pf-pmcount></pf-pmcount></a></li>
					<pf-notificationtoggle class="nav-item" panelid="NotificationBar" notificationlistid="NotificationList"></pf-notificationtoggle>
				}
			</ul>
		</div>
	</nav>
</div>

@if (user != null)
{
	<div class="offcanvas offcanvas-end" tabindex="-1" id="NotificationBar">
		<div class="offcanvas-header">
			<pf-notificationmarkallbutton buttontext="@PopForums.Resources.MarkAllRead" buttonclass="btn btn-primary"></pf-notificationmarkallbutton>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body" id="NotificationList">
			<pf-notificationlist></pf-notificationlist>
            <div id="NotificationBottom"></div>
		</div>
	</div>
}