@model PopForums.Models.PagedTopicContainer
@using PopForums.Controllers
@using PopForums.Extensions;

@{
    ViewBag.Title = PopForums.Resources.Search;
    Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
	var routeParameters = new Dictionary<string, object> {{"query", ViewBag.Query}, {"searchType", ViewBag.SearchType}};
}

@section HeaderContent {
	<script type="text/javascript" language="javascript">
		$(function () {
			PopForums.topicPreviewSetup();
			PopForums.startTimeUpdater();
		});
	</script>
}

<div>
	<h1>@PopForums.Resources.Search</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li>@Html.ActionLink(PopForums.Resources.Recent, "Recent", ForumController.Name, new { page = 1 }, null)</li>
		<li><span class="glyphicon glyphicon-chevron-up"></span> @Html.ActionLink(PopForums.Resources.Forums, "Index", ForumHomeController.Name, null, null)</li>
	</ul>
	<ul id="FixedBreadcrumb" class="breadcrumb">
		<li>@Html.ActionLink(PopForums.Resources.Recent, "Recent", ForumController.Name, new { page = 1 }, null)</li>
		<li><span class="glyphicon glyphicon-chevron-up"></span> @Html.ActionLink(PopForums.Resources.Forums, "Index", ForumHomeController.Name, null, null)</li>
		<li>@PopForums.Resources.Search</li>
	</ul>
</div>

<div id="SearchForm">
@using (Html.BeginForm("Process", "Search", FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
	<div class="form-group">
		@Html.TextBox("Query", null, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.DropDownList("SearchType", (SelectList)ViewBag.SearchTypes, new { @class = "form-control" })
	</div>
	<input type="submit" value="@PopForums.Resources.Search" class="btn btn-default" />
}
</div>

@Html.PagerLinks("Search", "Result", Model.PagerContext, null, null, "currentPager", routeParameters)

@if (Model.Topics.Count == 0 && !String.IsNullOrEmpty(ViewBag.Query))
{
	<p>@PopForums.Resources.NoResults</p>
}
else
{
	<table id="TopicList" class="table grid table-hover">
		@foreach (var topic in Model.Topics)
		{
			<tr @if (topic.IsDeleted) { <text> class="bg-danger" </text>  }>
				<td class="newIndicator">
					@if (this.GetUserFromViewData() == null)
					{
						<a href="@Url.Action("Topic", "Forum", new { id = topic.UrlName, page = 1 })">@Html.TopicReadIndicator(topic, Model, "/Content/PopForums/")</a>
					}
					else
					{
						<a href="@Url.Action("GoToNewestPost", "Forum", new { id = topic.TopicID })">@Html.TopicReadIndicator(topic, Model, "/Content/PopForums/")</a>
					}
				</td>
				<td>
					<h2>@Html.ActionLink(topic.Title, "Topic", "Forum", new { id = topic.UrlName, page = 1 }, null) <span class="topicPreviewButton glyphicon glyphicon-chevron-right twirl" title="@PopForums.Resources.PreviewTopic" data-topicid="@topic.TopicID"></span></h2>
					<div id="TopicPreview@(topic.TopicID)" class="topicPreview"></div>
					<small class="pull-right">
						@PopForums.Resources.StartedBy: @topic.StartedByName @PopForums.Resources.In @Model.ForumTitles[topic.ForumID] | @PopForums.Resources.Views: @topic.ViewCount | @PopForums.Resources.Replies: @topic.ReplyCount | @PopForums.Resources.Last: <span class="lastPostTime fTime" data-utc="@FormatTime8601(topic.LastPostTime)">@FormatTime(topic.LastPostTime)</span> @PopForums.Resources.By @topic.LastPostName
					</small>
				</td>
			</tr>
		}
	</table>
}