@using PopForums.Controllers;
@using PopForums.Extensions;
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper PMCount()
{
	var count = Html.Action("NewPMCount", PrivateMessagesController.Name).ToString();
	if (count != "0"){ <span class="badge">@count</span>}
}

@section HeaderContent {
    @RenderSection("HeaderContent", required: false)
}

<div id="ForumContainer" class="container-fluid">
	<div class="row">
		<div id="AccountBox" class="collapse navbar-collapse">
			<ul class="nav navbar-nav pull-right">
				@if (this.GetUserFromViewData() == null)
				{
					<li>@Html.ActionLink(PopForums.Resources.CreateAnAccount, "Create", AccountController.Name)</li>
					<li>@Html.ActionLink(PopForums.Resources.Login, "Login", AccountController.Name)</li>
					<li>@Html.ActionLink(PopForums.Resources.Recent, "Recent", ForumController.Name, new { page = 1 }, null)</li>
					<li>@Html.ActionLink(PopForums.Resources.ActivityFeed, "Index", FeedController.Name)</li>
					<li>@Html.ActionLink(PopForums.Resources.Search, "Index", SearchController.Name)</li>
				}
				else
				{
					<li>@Html.ActionLink(this.GetUserFromViewData().Name, "ViewProfile", AccountController.Name, new { id = this.GetUserFromViewData().UserID }, null)</li>
					<li>@Html.ActionLink(PopForums.Resources.Account, "EditProfile", AccountController.Name)</li>
					<li>@Html.ActionLink(PopForums.Resources.Recent, "Recent", ForumController.Name, new { page = 1 }, null)</li>
					<li>@Html.ActionLink(PopForums.Resources.Subscriptions, "Topics", SubscriptionController.Name)</li>
					<li>@Html.ActionLink(PopForums.Resources.Favorites, "Topics", FavoritesController.Name, new { page = 1 }, null)</li>
					<li>@Html.ActionLink(PopForums.Resources.ActivityFeed, "Index", FeedController.Name)</li>
					<li>@Html.ActionLink(PopForums.Resources.Search, "Index", SearchController.Name)</li>
					<li><a href="@Url.Action("Index", PrivateMessagesController.Name)">@PopForums.Resources.PrivateMessages @PMCount()</a>
					</li>
					<li>@Html.ActionLink(PopForums.Resources.Logout, "Logout", AuthorizationController.Name)</li>
				}
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			@RenderBody()
		</div>
	</div>
	<div class="row">
		<div id="ForumFooter" class="col-xs-12">
			<a href="http://popforums.com/">POP Forums</a> - &copy;@DateTime.Now.Year, POP World Media, LLC
		</div>
	</div>
</div>