@model PopForums.Models.PostEdit

@{
    ViewBag.Title = PopForums.Resources.EditPost;
    Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
}

@section HeaderContent
{
	<script type="text/javascript" src="@Url.Content("~/scripts/tinymce/jquery.tinymce.min.js")"></script>
	<script language="javascript" type="text/javascript">
		$(function () {
			var usePlainText = ($("#IsPlainText").val().toLowerCase() == "true");
			if (!usePlainText) {
				$("#FullText").tinymce(PopForums.editorSettings);
			}

			$("#PreviewModal").on("shown.bs.modal", function () {
				PopForums.previewPost();
			});
		});
	</script>
}

<h1>@PopForums.Resources.EditPost</h1>

@using (Html.BeginForm())
{
	<div class="postForm" role="form">
		<div class="form-group">
			@Html.TextBoxFor(p => p.Title, new { @class = "form-control", placeholder = PopForums.Resources.Title })
		</div>
		@Html.TextAreaFor(p => p.FullText)
		<div class="checkbox">
			<label for="IncludeSignature">
				@Html.CheckBoxFor(p => p.ShowSig)
				@PopForums.Resources.IncludeSignature
			</label>
		</div>
		<div class="form-group">
			<label for="Comment">@PopForums.Resources.CommentsOptional</label>
			@Html.TextAreaFor(p => p.Comment, new { @class = "form-control", rows = "3" })
		</div>
		@Html.HiddenFor(p => p.IsPlainText)
	</div>
	<input type="submit" value="@PopForums.Resources.Save" class="btn btn-primary" />
	<input type="button" value="@PopForums.Resources.Preview" id="PreviewButton" class="btn btn-primary" data-toggle="modal" data-target="#PreviewModal" />
}

<div class="modal fade" id="PreviewModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content" id="PreviewModalContent">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">@PopForums.Resources.Preview</h4>
			</div>
			<div class="modal-body">
				<div id="ParsedFullText" class="postItem"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>