@model PopForums.Models.ForumTopicContainer
@using PopForums.Controllers
@using PopForums.Extensions;
@{
	ViewBag.Title = Model.Forum.Title;
    Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
}

@section HeaderContent{
@if (this.GetUserFromViewData() != null) {
	<script src="~/scripts/tinymce/jquery.tinymce.min.js" type="text/javascript"></script>
}
<script type="text/javascript">
	$(function () {
		PopForums.topicListSetup(@Model.Forum.ForumID);
	});
</script>
}

<div>
	<h1>@Model.Forum.Title@if (Model.PermissionContext.UserCanPost){ <input type="button" value="@PopForums.Resources.AskAQuestion" id="NewTopicButton" class="btn btn-primary" />}</h1>
	@if (Model.PermissionContext.UserCanPost)
	{
		<div id="NewTopic" style="display: none;"></div>
	}
	else
	{
		<p class="bg-warning callout">@Model.PermissionContext.DenialReason</p>
	}
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li>@Html.ActionLink(PopForums.Resources.Recent, "Recent", ForumController.Name, new { page = 1 }, null)</li>
		<li><span class="glyphicon glyphicon-chevron-up"></span> @Html.ActionLink(PopForums.Resources.Forums, "Index", ForumHomeController.Name, null, null)</li>
	</ul>
	<ul id="FixedBreadcrumb" class="breadcrumb">
		<li>@Html.ActionLink(PopForums.Resources.Recent, "Recent", ForumController.Name, new { page = 1 }, null)</li>
		<li><span class="glyphicon glyphicon-chevron-up"></span> @Html.ActionLink(PopForums.Resources.Forums, "Index", ForumHomeController.Name, null, null)</li>
		<li>@Model.Forum.Title</li>
	</ul>
</div>

@Html.PagerLinks("Forum", "Index", Model.PagerContext, "pagerLinks", "morePager", "currentPager")

@if (this.GetUserFromViewData() != null)
{
	using (Html.BeginForm("MarkForumRead", "Forum", new { id = Model.Forum.ForumID }))
	{
		<input type="submit" value="@PopForums.Resources.MarkForumRead" class="btn btn-primary" />
	}
}

<table id="TopicList" class="table grid table-hover">
	@foreach (var topic in Model.Topics)
	{
		<tr @if (topic.IsDeleted) { <text> class="bg-danger" </text>  } data-topicid="@topic.TopicID">
			<td class="newIndicator">
				<a href="@Url.Action("Topic", "Forum", new { id = topic.UrlName, page = 1 })">@Html.TopicReadIndicator(topic, Model, "/Content/PopForums/")</a>
			</td>
			<td class="QAstate">
				@if (topic.AnswerPostID.HasValue)
				{
					<span class="glyphicon glyphicon-ok-sign"></span>
				}
				else
				{
					<span class="glyphicon glyphicon-question-sign"></span>
				}
			</td>
			<td>
				<h2>@Html.ActionLink(topic.Title, "Topic", "Forum", new { id = topic.UrlName, page = 1 }, null) <span class="topicPreviewButton glyphicon glyphicon-chevron-right twirl" title="@PopForums.Resources.PreviewTopic" data-topicid="@topic.TopicID"></span></h2>
				<div id="TopicPreview@(topic.TopicID)" class="topicPreview"></div>
				<small class="pull-right">
					@PopForums.Resources.StartedBy: @topic.StartedByName | @PopForums.Resources.Views: @topic.ViewCount.ToString("N0") | @PopForums.Resources.Replies: @topic.ReplyCount.ToString("N0") | @PopForums.Resources.Last: <span class="lastPostTime fTime" data-utc="@FormatTime8601(topic.LastPostTime)">@FormatTime(topic.LastPostTime)</span> @PopForums.Resources.By @topic.LastPostName
				</small>
			</td>
		</tr>
	}
</table>

@Html.PagerLinks("Forum", "Index", Model.PagerContext, "pagerLinks", "morePager", "currentPager")

