@model PopForums.Models.NewPost

<h2>@PopForums.Resources.CreateNewReply</h2>

<p><input type="button" value="@PopForums.Resources.ClickToLoadMorePosts" id="MorePostsBeforeReplyButton" style="visibility: hidden;" class="btn btn-default" /></p>

<div class="postForm" role="form">
	<div class="form-group">
		@Html.TextBoxFor(p => p.Title, new { @class = "form-control", placeholder = PopForums.Resources.Title })
	</div>
	@Html.TextAreaFor(p => p.FullText)
	<div class="checkbox">
		<label for="IncludeSignature">
			@Html.CheckBoxFor(p => p.IncludeSignature)
			@PopForums.Resources.IncludeSignature
		</label>
	</div>
	@Html.HiddenFor(p => p.ItemID)
	@Html.HiddenFor(p => p.IsPlainText)
	@Html.HiddenFor(p => p.IsImageEnabled)
	@Html.HiddenFor(p => p.ParentPostID)
	<input type="button" value="@PopForums.Resources.SubmitReply" id="SubmitReply" onclick="PopForums.postReply()" class="btn btn-default" />
	<span id="PostResponseMessage" class="bg-danger callout"></span>
</div>