@model PopForums.Models.NewPost

<h2>@PopForums.Resources.CreateNewTopic</h2>

<div class="postForm" role="form">
	<div class="form-group">
		@Html.TextBoxFor(p => p.Title, new { @class = "form-control", placeholder = PopForums.Resources.Title })
	</div>
	@Html.TextAreaFor(p => p.FullText)
	<div class="checkbox">
		<label for="IncludeSignature">
			@Html.CheckBoxFor(p => p.IncludeSignature)
			@PopForums.Resources.IncludeSignature
		</label>
	</div>
	@Html.HiddenFor(p => p.ItemID)
	@Html.HiddenFor(p => p.IsPlainText)
	@Html.HiddenFor(p => p.IsImageEnabled)
	<input type="button" value="@PopForums.Resources.SubmitNewTopic" id="SubmitNewTopic" onclick="PopForums.postNewTopic()" class="btn" />
	<p id="PostResponseMessage" class="bg-danger callout"></p>
</div>